---
permalink: /
layout: layouts/page
title: Home
sidenav: false
---

<div class="homepage-wrapper static-content">
    <h1 class="margin-top-0">PRA Navigator</h1>
    <section class="usa-section intro">
        <h2 class="margin-top-1">A guide to the Paperwork Reduction Act (PRA) for UX/CX research.</h2>
        <p class="margin-bottom-1">If you need to do UX/CX research but have questions about PRA, you’ve come to the right place. PRA Navigator is a self-service tool that helps TTS employees through the PRA process from start to finish.</p>
    </section>

    {% for item in navigation.primary %}
    {% unless item.text == "Home" or item.text == "ICR Form Builder" %}
    <section class="usa-section {{ item.text | slugify }}-section">
        <h2 class="site-preview-heading">
            <img src="{{ '/assets/images/' | append: item.icon | url }}" alt="" width="75" height="75" />
            <span>{{ item.text }}</span>     
        </h2>
        <ul class="usa-card-group grid-row">
            {% for child in item.children %}
            <li class="usa-card desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <h3 class="usa-card__heading">
                            <a class="usa-link" href="{% link child.url %}"><span>{{ child.text }}</span></a>
                        </h3>
                    </div>
                    <div class="usa-card__body">
                        <p>
                            {{ child.blurb }}
                        </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endunless %}
    {% endfor %}
</div>