@use "uswds-core" as *;

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    color: color("violet-90");
    font-size: size('body', 8);
    font-family: family('sans');
    line-height: lh('body', 5);
    -webkit-font-smoothing: antialiased;
    min-width: units('mobile');
}

img {
    height: auto;
}

.usa-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-content {
    flex: 1;
    width: 100%;
}

h1 {
    font-size: size('body', 13);
    line-height: lh('heading', 2);

    @include at-media("tablet") {
        font-size: size('body', 14);
    } 
}

h2 {
    font-size: size('body', 11);

    @include at-media("tablet") {
        font-size: size('body', 12);
    } 
}

h1,
h2,
h3,
h4,
h5 {
    line-height: lh('heading', 2);
}

blockquote {
    width: 95%;
    padding: units(2) units(2) units(2) units(4);
    font-style: italic;
    margin: 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: units(2);
        top: units(2);
        bottom: units(2);
        width: 5px;
        background-color: #eef0f9;
    }
}

/* Uitility Classes */
.text-indigo-cool-50 {
    color: color("indigo-cool-50");
}

.vertical-center {
    display: flex;
    height: 100%;
    flex-direction: row;
    line-height: 100%;
    align-items: center;
    justify-content: center;
}

/****/

.usa-header {
    &--extended {
        .usa-nav {
            border-top-width: units(2px);
            border-bottom: units(2px) solid color("base-lighter");

            &__header {
                font-size: 1.375rem;
                margin: units(2) 0;
                color: white;
                display: none;

                @include at-media("tablet-lg") {
                    display: block;
                } 
            }

            &__primary {
                button {
                    padding-right: units(3);
                }

                a:not(.usa-button) {
                    padding: 1rem;
                }
            }
        }
    }
}

.usa-button {
    background: color('indigo-cool-70');

    &--outline {
        background-color: white;
    }

    &--unstyled {
        background: transparent;
    }

    &.icon-button {
        display: block;
        text-align: center;
        width: 100%;

        img,
        span {
            display: block;
        }

        img {
            margin: 0 auto units(2);
        }        
    }
}

.usa-list {
    li {
        margin-bottom: units(2);
        max-width: none;
    }
}

.usa-section {
    padding-top: units(6);
    padding-bottom: 0;

    &:last-child {
        padding-bottom: units(6);
    }

    &.intro {
        padding: units(2);
        background-color: color('indigo-cool-5');
        color: color('indigo-cool-90');

        h2 {
            font-size: size('body', 11);

            @include at-media("tablet") {
                font-size: size('body', 12);
            }         
        }
    }

    &.border-section {
        h2 {
            margin-top: 0;
            padding-top: units(6);
            border-top: 0.313rem solid color('indigo-cool-5');
        }
    }

    &.introduction-to-pra-section,
    &.more-information-section {
        padding-top: units(2);
    }

    &.usa-layout-docs {
        min-height: 40vh;
        border-top: none;
    }
}

.usa-card-group {

    .usa-card__img {
        background-color: transparent;
        max-width: 4.688rem;
        margin: 0 auto;
    }
}

.usa-card__container {
    border-width: 1px;
    border-color: #dfe1e2;
}

.usa-card__heading {
    font-family: family('sans');
}

.usa-card__footer {
    .usa-link--external::after {
        margin-top: 0;
    }
}

.usa-prose {
    &>p {
        max-width: 110ex;
    }

    &>h2, h3, h4, h5 {
        font-family: family('sans');
    }

    h3 {
        font-size: size('body', 9);
    }

    h5 {
        font-size: size('body', 5);
    }

    .usa-process-list {

        .usa-process-list__item,
        .usa-list li {
            max-width: unset;
        }
    }

    &>table {
        th {
            padding: units(2);
        }

        caption {
            margin-bottom: units(0.5);
        }
    }

    .usa-card-group {
        &.common-research-methods {
            margin-top: units(3);
        }
    }
}

.usa-footer {
    .usa-identifier__logo-img {
        max-height: units(6);
    }

    .usa-footer__logo {
        .grid-col-1 {
            max-width: units(8);
        }
    }

}

.usa-in-page-nav {
    display: none;

    @include at-media("tablet-lg") {
        display: block;
    } 
}

.usa-in-page-nav__item--primary {
    font-weight: 400;
}

.usa-in-page-nav__list a:not(.usa-button).usa-current {
    font-weight: 700;
}

.usa-accordion {
    .usa-prose {
        &>p {
            max-width: none;
        }

        p,
        li {
            color: color("gray-cool-60");
        }

        h5 {
            color: color('gray-cool-60');
            margin-bottom: units(0.5);
        }

        ul {
            margin-top: 0;
        }
    }

    &__content {
        &>*:last-child {
            margin-bottom: units(3);
        }
    }
}

.usa-accordion__heading,
.usa-prose .usa-accordion__heading,
.usa-accordion__content h4 {
    font-size: size('body', 9)
}

.usa-accordion__heading:not(:first-child), 
.usa-prose .usa-accordion__heading:not(:first-child) {
    margin-top: units(2);
}

.usa-table {
    th,
    td {
        vertical-align: top;
    }

    th {
        padding: units(2);
    }

    ul {
        margin-top: 0;
    }

    thead th,
    thead td {
        background-color: color('blue-warm-5');
    }

    tbody th {
        background-color: white;
        font-weight: normal;
    }
}

/* Home Page */

.homepage-wrapper {
    .usa-card__heading {
        h3 {
            font-size: size('body', 9);
        }
    }

    .usa-card__header {
        padding-top: units(4);
    }

    .usa-card__body:last-child {
        padding-bottom: units(4);
    }
}

/* Quotes Slider */
.quote-slider {
    position: relative;
    overflow: hidden;
}

.slides-container {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    position: relative;

}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-right: units(0.5);
    padding: 0 units(2) units(3) units(1);

    @include at-media("tablet") {
        padding: 0 units(2) units(3) units(3);    
    } 
    
    &[aria-hidden="false"] {
        display: block;
        position: relative;
    }

    blockquote {
        width: 97%;
        border: units(1px) solid color('gray-20');
        border-radius: units(1);
        -webkit-box-shadow: units(0.5) units(0.5) units(1) 0px color('gray-20');
        -moz-box-shadow: units(0.5) units(0.5) units(1) 0px color('gray-20');
        box-shadow: units(0.5) units(0.5) units(1) 0px color('gray-20');

        &::before {
            bottom: units(2);
            width: 4px;
            background-color: #ccc;
            border-radius: 2px;
        }
    }
}

.slider-controls {
    text-align: center;
    padding-bottom: units(2);
}

.prev,
.next,
.dot-nav-container {
    display: inline-block;
    vertical-align: middle;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    color: color('gray-80');
    user-select: none;
    padding: 0 units(2);
    font-size: units(5);
    background: none;
    border: none;

    @include at-media("tablet") {
        font-size: units(3); 
    }  
}

.prev:hover,
.next:hover {
    color: color('gray-90');
}

.prev,
.next,
.dot-nav-container {
    line-height: units(2);
}

.dot-nav-container {
    text-align: center;
    padding: 0;
    margin: 0 units(1);
}

.dot-nav {
    cursor: pointer;
    display: inline-block;
    padding: units(1);
    background: none;
    border: none;

    span {
        display: block;
        height: units(3);
        width: units(3);
        margin: 0 units(2px);
        background-color: color('gray-40');
        border-radius: 50%;
        transition: background-color 0.6s ease;

        .usa-sr-only {
            background: white;
        }
        
        @include at-media("tablet") {
            height: units(1);
            width: units(1);
        } 
    }
}

.dot-nav.active span,
.dot-nav:hover span {
    background-color: color('gray-90');
}

iframe:focus,
[href]:focus,
[tabindex]:focus,
[contentEditable=true]:focus {
    outline: units(2px) solid color('indigo-cool-70');
}

/* Question Boxes */

.questions-box {
    max-width: none;
    border-radius: units(0.5);
    background: color('blue-warm-70');
    padding: units(3);
    margin-bottom: units(4);
    
    form {
        display: none;
    }

    h3,
    h4 {
        color: color('indigo-cool-5');
        width: 100%;
    }

    h3,
    legend {
        margin-top: 0;
    }

    h3 {
        font-size: 1.375rem;
    }

    fieldset {   
        border-radius: units(1);

        .usa-radio {
            background: none;
        }

        &.disabled {
            legend,
            label {
                color: color('gray-cool-50');
            }    
        }
    }

    .usa-legend {
        max-width: none;
        margin: units(1.5) 0;
        padding-right: 0;
    }

    fieldset,
    .quidance-container {
        padding: units(2);
        margin-bottom: units(2);
    }

    fieldset,
    .guidance-gray {
        background: color('gray-5');
    }

    .yesNoWrapper {
        @include at-media("tablet") {
            text-align: right;
        }        
    }

    .guidance-gray {
        color: color('gray-cool-30');
        text-align: center;
        text-transform: uppercase;
        padding: units(5);
        font-weight: 600;
    }
    
    .guidance-yellow {
        background-color: color('yellow-5');
        border-left: units(1) solid color('gold-20v');
    }
    
    .guidance-green {
        background-color: color('green-cool-5');
        border-left: units(1) solid color('green-cool-40v');
    }

    .usa-button {
        &:hover {
            color: color('blue-10');
        }
    }

    .switch-reset-button-wrapper {
        .reset-form-wrapper { 
            @include at-media("tablet") {
                text-align: right;
            }
        }

        .usa-button {
            color: #BFE4F3;
        }
    }

    .question-box-intro {
        h3,
        h4 {
            text-align: center;
        }

        h3 {
            font-size: units(4);
        }

        .content-row {
            .usa-button {
                width: 100%;
                margin: 0;
                font-size: 1.375rem;
                background: white;
                color: color('indigo-cool-70');
                border-radius: 0.625rem;
            }

        }
    }
}

.common-research-methods-section {

    .usa-card-group {

        .usa-card__img {
            max-width: 6rem;
        }
    }

}

.usa-modal {
    max-width: 50rem;
}

.usa-modal-wrapper {
    text-align: center;
    transition: opacity $project-easing;
  
    // Using visibility: hidden instead of display: none because
    // of iOS VoiceOver issue:
    // https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/
    &.is-hidden {
      visibility: hidden;
      opacity: opacity(0);
      position: fixed;
    }
  
    &.is-visible {
      visibility: visible;
      opacity: opacity(100);
      position: fixed;
      z-index: z-index("top");
    }
  }
  
  .usa-modal-overlay {
    background: color("black-transparent-70");
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: units(3);
    position: fixed;
    scroll-behavior: smooth;
    top: 0;
    width: 100%;
  
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  
    &[data-force-action="true"] {
      pointer-events: none;
  
      * {
        pointer-events: auto;
      }
    }
  }
  
/* Validation */
.usa-input--error {
    .usa-radio__label::before,
    .usa-checkbox__label::before {
        box-shadow: 0 0 0 2px color("red-60v");
    }
    
    .usa-input,
    .usa-textarea,
    .usa-select {
        border-color: color("red-60v");
    }
}

.icr-form-builder-section {
    padding: units(4);
    background: color('blue-warm-5v');
    margin-top: units(4);
    margin-bottom: units(6);
    max-width: 110ex;

    @include at-media(desktop) {
        padding: units(7);
    }

    .step {
        display: none;
    }

    .usa-step-indicator,
    .usa-radio,
    .usa-checkbox {
        background: none;
    }

    .usa-step-indicator {
       &__segment {
            @include at-media("desktop-lg") {
                max-width: 25rem;
    
                &#step-indicator-2 {
                    width: 23rem;
                }
    
                &-label {
                    padding-right: units(2);
                }
            } 

            &--current {
                .usa-step-indicator__segment-label {
                    color: color("indigo-cool-70");
                }

                &.usa-step-indicator__segment--current::after {
                    background-color: color("indigo-cool-70");
                }
            }
        }

        &__current-step {
            background-color: color("indigo-cool-70");
        }
    }

    .usa-fieldset {
        margin-bottom: units(4);

        legend,
        label {
            margin-top: units(0.5);
        }

        .usa-legend {
            color: black;

            .usa-hint {
                color: color("red-60v");
            }
        }

        .usa-label {
            color: color("gray-50"); 
        }

        .usa-label,
        .usa-hint {
            font-size: 0.875rem;
        }

        .usa-legend,
        .usa-label,
        .usa-input,
        .usa-textarea {
            width: 100%;
            max-width: none;
        }

        .usa-radio,
        .usa-checkbox {
            padding: units(1);
            background: white;
            border: units(1px) solid color("gray-20");
            margin-top: units(1);
        }

        &.certification {
            .usa-list {
                margin-top: units(2px);
                margin-bottom: units(4);

                li {
                    font-size: 0.875rem;
                    color: color("gray-50"); 
                    max-width: none;
                }
            }
        }

        .category-inputs {
            margin-left: units(2);

            .dynamic-input {
                max-width: units(15);
            }
        }
    }

    .usa-input--error {
        .usa-radio,
        .usa-checkbox {
            border: units(1px) solid color("red-60v");
        }
    }

    .pra-clearance-instructions {
        li { 
            margin-bottom: units(3);
        };
    }

    iframe {
        height: 43.75rem;
    }
}

.usa-error-message {
    margin-top: units(1);
}

.static-content {
    h1, h2 {
        img,
        span {
            display: inline-block;
            vertical-align: middle;
        }

        span {
            max-width: 75%;

            @include at-media("tablet") {
                max-width: 85%;
            }              
        }
    }
}

.icr-links {
    .content-row {
        border: units(1px) solid color("gray-cool-10");
        background: white;
        border-radius: units(0.5);
        padding: units(2);
    }

    img {
        margin-bottom: units(1);
    }

    .usa-button {
        padding: units(2);
        margin: auto;

    }
}