@use "uswds-core" as *;

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    color: color("violet-90");
    font-size: size('body', 8);
    font-family: family('sans');
    line-height: lh('body', 5);
    -webkit-font-smoothing: antialiased;
    min-width: units('mobile');
}

img {
    height: auto;
}

.usa-app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#main-content {
    flex: 1;
    width: 100%;
}

h1 {
    font-size: size('body', 14);
    line-height: lh('heading', 2);
}

h2 {
    font-size: size('body', 12);
}

h1,
h2,
h3,
h4 {
    line-height: lh('heading', 2);
}

.usa-header {
    &--extended {
        .usa-nav {
            border-top-width: units(2px);
        }
    }
}

.usa-section {
    padding-top: units(6);
    padding-bottom: 0;

    &:last-child {
        padding-bottom: units(6);
    }

    &--dark {
        padding: units(2);
        background-color: color('blue-warm-70');

        h2 {
            color: color('blue-warm-10v');
        }

        .intro {
            color: color('gray-5');
            font-size: size('body', 9);
        }
    }

    &.border-section {
        h2 {
            margin-top: 0;
            padding-top: units(3);
            border-top: units(1px) solid color('gray-cool-50');
        }
    }

    &.what-is-pra-section-section,
    &.more-information-section {
        padding-top: units(2);
    }

    &.usa-layout-docs {
        min-height: 40vh;
        border-top: none;
    }
}

.usa-card__container {
    border-width: 1px;
    border-color: #dfe1e2;
}

.usa-card-group {

    .usa-card__img {
        background-color: transparent;
        max-width: 9.375rem;
        margin: 0 auto;
    }
}

.usa-card__footer {
    .usa-link--external::after {
        margin-top: 0;
    }
}

.usa-prose {

    &>h4 {
        font-family: family('sans');
    }

    .usa-process-list {

        .usa-process-list__item,
        .usa-list li {
            max-width: unset;
        }
    }

    &>table {
        th {
            padding: units(2);
        }

        caption {
            margin-bottom: units(0.5);
        }
    }
}

.usa-footer {
    .usa-identifier__logo-img {
        max-height: units(6);
    }

    .usa-footer__logo {
        .grid-col-1 {
            max-width: units(8);
        }
    }

}

.usa-banner__content,
.grid-container,
.usa-header--extended .usa-navbar,
.usa-header--extended .usa-nav__inner,
.usa-banner__inner,
.usa-identifier__container,
.usa-footer__primary-container,
.usa-footer>.grid-container,
.usa-footer__secondary-section>.grid-container {
    max-width: units('desktop-lg');
}

.usa-in-page-nav {
    margin-right: 2rem;
    margin-top: 0;
    max-width: 15rem;
    min-width: 13.75rem;
    order: unset;

    &__nav {
        padding-top: 0;
        padding-left: 0;
    }
}

.usa-in-page-nav__item--primary {
    font-weight: 400;
}

.usa-in-page-nav__list a:not(.usa-button).usa-current {
    font-weight: 700;
}

.usa-accordion {
    .usa-prose>p {
        max-width: none;
    }

    &__content>*:last-child {
        margin-bottom: units(3);
    }
}

.usa-accordion__heading,
.usa-prose .usa-accordion__heading {
    font-size: size('body', 9)
}

.usa-table {
    th,
    td {
        vertical-align: top;
    }

    th {
        padding: units(2);
    }

    ul {
        margin-top: 0;
    }

    thead th,
    thead td {
        background-color: color('blue-warm-5');
    }
}

/* Home Page */

.homepage-wrapper {
    .overview-of-research-section {
        padding-top: units(3);
    }
}

/* Quotes Slider */
.quote-slider {
    position: relative;
    overflow: hidden;
    // min-height: 18.5rem;
}

.slides-container {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    margin-right: units(0.5);
    padding: 0 units(2) units(3) units(1);

    @include at-media("tablet") {
        padding: 0 units(2) units(3) units(3);    
    }   

    blockquote {
        width: 97%;
        border: units(1px) solid color('gray-20');
        border-radius: units(1);
        padding: units(2) units(2) units(2) units(4);
        font-style: italic;
        margin: 0;
        position: relative;
        -webkit-box-shadow: units(0.5) units(0.5) units(1) 0px color('gray-20');
        -moz-box-shadow: units(0.5) units(0.5) units(1) 0px color('gray-20');
        box-shadow: units(0.5) units(0.5) units(1) 0px color('gray-20');

        &::before {
            content: '';
            position: absolute;
            left: units(2);
            top: units(2);
            bottom: units(2);
            width: 4px;
            /* Thickness of the vertical line */
            background-color: #ccc;
            /* Color of the vertical line */
            border-radius: 2px;
            /* Rounded vertical line */
        }
    }
}

.slider-controls {
    text-align: center;
    padding-bottom: units(2);
}

.prev,
.next,
.dot-nav-container {
    display: inline-block;
    vertical-align: middle;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    color: color('gray-80');
    user-select: none;
    padding: 0 units(2);
    font-size: units(5);

    @include at-media("tablet") {
        font-size: units(3); 
    }  
}

.prev:hover,
.next:hover {
    color: color('gray-90');
}

.prev,
.next,
.dot-nav-container {
    line-height: units(2);
}

.dot-nav-container {
    text-align: center;
    padding: 0;
    margin: 0 units(1);
}

.dot-nav {
    cursor: pointer;
    display: inline-block;
    padding: units(1);

    span {
        display: block;
        height: units(3);
        width: units(3);
        margin: 0 units(2px);
        background-color: color('gray-40');
        border-radius: 50%;
        transition: background-color 0.6s ease;

        .usa-sr-only {
            background: white;
        }
        
        @include at-media("tablet") {
            height: units(1);
            width: units(1);
        } 
    }
}

.dot-nav.active span,
.dot-nav:hover span {
    background-color: color('gray-90');
}

iframe:focus,
[href]:focus,
[tabindex]:focus,
[contentEditable=true]:focus {
    outline: units(2px) solid color('blue-60v');
}

/* Question Boxes */

.questions-box {
    max-width: none;
    border-radius: units(0.5);
    background: color('blue-warm-70');
    padding: units(3);
    margin-bottom: units(4);

    h3,
    h4 {
        color: color('gray-5');
    }

    h3,
    legend {
        margin-top: 0;
    }

    fieldset {   
        border-radius: units(1);

        .usa-radio {
            background: none;
        }
    }

    .usa-legend {
        max-width: none;
        margin: units(1.5) 0;
        padding-right: 0;
    }

    fieldset,
    .quidance-container {
        padding: units(2);
        margin-bottom: units(2);
    }

    fieldset,
    .guidance-gray {
        background: color('gray-5');
    }

    .yesNoWrapper {
        @include at-media("tablet") {
            text-align: right;
        }        
    }

    .guidance-gray {
        color: color('gray-cool-60');
        text-align: center;
        text-transform: uppercase;
        padding: units(5);
        font-weight: 600;
    }
    
    .guidance-yellow {
        background-color: color('yellow-5');
        border-left: units(1) solid color('gold-20v');
    }
    
    .guidance-green {
        background-color: color('green-cool-5');
        border-left: units(1) solid color('green-cool-40v');
    }

    .usa-button {
        &:hover {
            color: color('blue-10');
        }
    }
    
}

.common-research-methods-section {

    .usa-card-group {

        .usa-card__img {
            max-width: 6rem;
        }
    }

}

.usa-modal {
    max-width: 50rem;
}

.usa-modal-wrapper {
    text-align: center;
    transition: opacity $project-easing;
  
    // Using visibility: hidden instead of display: none because
    // of iOS VoiceOver issue:
    // https://developer.paciellogroup.com/blog/2018/06/the-current-state-of-modal-dialog-accessibility/
    &.is-hidden {
      visibility: hidden;
      opacity: opacity(0);
      position: fixed;
    }
  
    &.is-visible {
      visibility: visible;
      opacity: opacity(100);
      position: fixed;
      z-index: z-index("top");
    }
  }
  
  .usa-modal-overlay {
    background: color("black-transparent-70");
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: units(3);
    position: fixed;
    scroll-behavior: smooth;
    top: 0;
    width: 100%;
  
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  
    &[data-force-action="true"] {
      pointer-events: none;
  
      * {
        pointer-events: auto;
      }
    }
  }
  

