---
layout: layouts/page
---

<div class="expore-pra-wrapper static-content">
    <h1 class="margin-top-0">Explore PRA</h1>
    <p>The following information is intended to be a general overview of PRA to provide you with enough background
        context for implications of PRA here at TTS. The following sections “Find out if you need PRA clearance” and
        “Get PRA clearance” will provide practical guidance.</p>
    <p>
        <img aria-hidden="true" src="{{ '/assets/images/explore-pra-banner-wide.webp' | url }}" alt="" width="792"
            height="149" />
    </p>
    <section class="usa-section what-is-pra-section-section">
        <h2 class="site-preview-heading">What is PRA?</h2>
        <p class="margin-bottom-4"><span class="text-bold">The Paperwork Reduction Act of 1995 (PRA) is a law governing
                how federal agencies collect information from the American public.</span> It was designed to “ensure the
            greatest possible public benefit from and maximize the utility of information created, collected,
            maintained, used, shared, and disseminated by or for the Federal Government” and to “improve the quality and
            use of Federal information to strengthen decision making, accountability, and openness in Government and
            society” (44 U.S.C. § 3501). </p>

        <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="why-does-pra-matter">
                    Why does PRA matter?
                </button>
            </h3>
            <div id="why-does-pra-matter" class="usa-accordion__content usa-prose">
                <p>
                    True to its name, the original intent of the Paperwork Reduction Act is to reduce the amount of
                    government paperwork the public must fill out. It ensures that when we ask the public for
                    information, it's for a good reason and that we're not asking for stuff we don't really need.
                </p>
                <p class="margin-top-05">Goals of the PRA include:</p>
                <ul class="usa-list">
                    <li><span class="text-bold">Reducing public burden:</span> It prevents the Federal government from
                        collecting redundant information or information that they don't actually need to provide a
                        service.</li>
                    <li><span class="text-bold">Better use of data:</span> It makes sure that the information the
                        Federal government collects is used effectively to make informed policy decisions and improve
                        government services.</li>
                    <li><span class="text-bold">Giving the public a voice:</span> It gives the public a chance to weigh
                        in on how the government is collecting information.</li>
                </ul>
                <h4>Why does PRA matter at TTS?</h4>
                <p class="margin-top-05 margin-bottom-4">TTS is in the business of improving government digital
                    services, and this work
                    involves a lot of user research. PRA governs how federal UX Researchers can collect information from
                    members of the public, so if you're doing user research here at TTS, you need to know the basic
                    principles of PRA, <a class="usa-link" href="{{ '#when-does-pra-apply' | url }}">when it may apply
                        to your research activities</a>, and <a class="usa-link"
                        href="{{ '#how-to-get-pra' | url }}">how to get it.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="when-does-pra-apply">
                    When does PRA apply?
                </button>
            </h3>
            <div id="when-does-pra-apply" class="usa-accordion__content usa-prose">
                <p>
                    There are several factors that determine when PRA applies or not, and these boil down to WHO you are
                    collecting information from and HOW you collect that information. Remember that the point of the PRA
                    is to protect the public from undue burden associated with information collection, so keep that
                    guiding principle in mind.
                </p>
                <h4>Goals of the PRA include:</h4>
                <p class="margin-top-05">Anytime you are planning user research as a TTS UX Researcher, you should
                    consider whether your research activities need PRA clearance or not. In addition to the research
                    itself, you may also need PRA clearance for the following activities:</p>
                <ul class="usa-list">
                    <li>Recruiting participants</li>
                    <li>Making updates to materials that have prior or current PRA clearance</li>
                    <li>Translating materials that have prior or current PRA clearance to languages other than English
                    </li>
                </ul>
                <p><a class="usa-link" href="{{ '#when-does-pra-apply' | url }}">To learn more, and to find out if you
                        need PRA clearance or not, click here.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="how-does-pra-work">
                    How does PRA work?
                </button>
            </h3>
            <div id="how-does-pra-work" class="usa-accordion__content usa-prose">
                <p>In order to get PRA clearance for collecting information, an agency must develop what is called an
                    “information collection request” or ICR. An ICR is a package of documents detailing the proposed
                    information collection that will then be reviewed and approved by OIRA.
                </p>
                <p>There are <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                        href="https://pra.digital.gov/clearance-types/">several different types of PRA clearance
                        processes</a>, designed for different types of information collection activities. The standard
                    process you may have heard about can take up to nine months, but luckily there are other types of
                    clearances that have been designed specifically for improving customer experience via user research.
                </p>
                <h4>How does PRA work at TTS?</h4>
                <p class="margin-top-05">GSA has several CX-specific clearances in place, most notably the <a
                        class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                        href="https://www.performance.gov/cx/assets/files/a11-280.pdf">Fast Track (A-11 Section 280)
                        process</a>, which takes 7-14 business days, and was designed for:</p>
                <ul class="usa-list">
                    <li>Customer Research (e.g., User Persona and Journey Map Development),</li>
                    <li>Customer Feedback (Satisfaction Survey), and</li>
                    <li>User Testing of Services and Digital Products</li>
                </ul>
                <p>Most qualitative user research done here at TTS will likely be able to get PRA clearance through the
                    Fast Track (A-11 Section 280) process. This process involves working with OMB's CX PRA Desk Officer
                    to build an ICR. <a class="usa-link" href="{{ '#how-to-get-pra' | url }}">Find out more about
                        getting PRA clearance at TTS.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="who-is-involved-in-pra-process">
                    Who is involved in the PRA process?
                </button>
            </h3>
            <div id="who-is-involved-in-pra-process" class="usa-accordion__content usa-prose">
                <p>There are three main parties involved in any given PRA clearance process. They are:</p>
                <ul class="usa-list">
                    <li><span class="text-bold">Researcher.</span> This is the person submitting the information
                        collection request.</li>
                    <li><span class="text-bold">Agency-specific PRA Desk Officer(s).</span> They facilitate the
                        submission of the PRA clearance request.</li>
                    <li><span class="text-bold">OIRA reviewer.</span> They have final approval authority over all PRA
                        clearance requests.</li>
                </ul>
                <p>In addition, <span class="text-bold">OMB’s CX PRA Desk Officer</span> oversees PRA clearance
                    processes specifically associated with CX (those that use Generic and Fast Track clearances). They
                    help advise researchers about how to build their ICRs and can help facilitate hand-offs between the
                    other parties.</p>
                <table class="usa-table usa-table--stacked">
                    <caption>
                        Who is involved in the Fast Track (A-11 Section 280) PRA process at TTS?
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Person</th>
                            <th scope="col">PRA Responsibilities</th>
                            <th scope="col">When to contact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th data-label="Person" scope="row">
                                <span class="text-bold text-primary">[TTS] Researcher</span><br />
                                (That’s you!)
                            </th>
                            <td data-label="PRA Responsibilities">
                                <ul class="usa-list">
                                    <li>Request pre-review from OMB CX PRA Desk Officer</li>
                                    <li>Fill out and submit Information Collection Request Form with research details
                                    </li>
                                    <li>Make necessary edits to request</li>
                                    <li>Apply OMB Control Number to research materials</li>
                                </ul>
                            </td>
                            <td data-label="When to contact">N/A</td>
                        </tr>
                        <tr>
                            <th data-label="Person" scope="row">
                                <span class="text-bold text-primary">[OMB] CX PRA Desk Officer</span><br />
                                Todd Rubin
                            </th>
                            <td data-label="PRA Responsibilities">
                                <ul class="usa-list">
                                    <li>CX PRA Desk Officer pre-reviews Fast Track PRA clearance requests before sending
                                        to OIRA for final approval.</li>
                                    <li>Notifies researcher of approval</li>
                                </ul>
                            </td>
                            <td data-label="When to contact">
                                <ul class="usa-list">
                                    <li>Ask questions</li>
                                    <li>Pre-review of PRA request</li>
                                    <li>Final review of PRA request</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th data-label="Person" scope="row">
                                <span class="text-bold text-primary">[GSA] PRA Desk Officer</span><br />
                                Nicole Bynum
                            </th>
                            <td data-label="PRA Responsibilities">
                                <ul class="usa-list">
                                    <li>GSA PRA Desk Officer enters PRA clearance request into ROCIS for final approval
                                        by OIRA reviewer</li>
                                </ul>
                            </td>
                            <td data-label="When to contact">
                                CC when submitting finalized PRA request package
                            </td>
                        </tr>
                        <tr>
                            <th data-label="Person" scope="row">
                                <span class="text-bold text-primary">[OIRA] Reviewer</span>
                            </th>
                            <td data-label="PRA Responsibilities">
                                <ul class="usa-list">
                                    <li>Has final approval authority</li>
                                </ul>
                            </td>
                            <td data-label="When to contact">
                                You will not need to contact the OIRA reviewer directly
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4>Where are these people located?</h4>
                <p class="border margin-top-05">
                    <img aria-hidden="true" src="{{ '/assets/images/pra-process-people-involved.webp' | url }}" alt=""
                        width="792" height="329" />
                </p>
            </div>
        </div>
    </section>
    <section class="usa-section more-information-section">
        <h2>More information</h2>
        <span class="text-bold"></span>
        <p class="text-bold margin-bottom-05">General PRA information</p>
        <ul class="usa-list margin-top-0">
            <li>
                <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://pra.digital.gov/">A guide to the Paperwork Reduction Act</a>
            </li>
        </ul>
        <p class="text-bold margin-bottom-05">OMB CX Desk PRA guidance</p>
        <ul class="usa-list margin-top-0">
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://login.max.gov/cas/login?service=https%3A%2F%2Fcommunity-dc.max.gov%2Fdisplay%2FPerformance%2FCustomer%2BExperience%2BCollections%2BCentral">Customer
                    Experience Collection Central</a> (requires login)
            </li>
        </ul>
    </section>
</div>

{{ content }}