---
layout: layouts/page
---

<div class="find-out-if-you-need-pra-wrapper static-content">
    <h1 class="margin-top-0">Find out if you need PRA clearance</h1>
    <p>If you still need to find out whether you need PRA clearance, you've come to the right spot. We can walk you
        through relevant considerations and help you get an answer.</p>
    <section class="usa-section what-do-you-need-pra-for-section border-section">
        <h2 class="site-preview-heading">What do you think you might need PRA clearance for?</h2>
        <ul class="usa-card-group grid-row">
            <li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Recruitment</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/recruitment-icon.webp' | url }}" alt=""
                                width="150" height="150" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p>
                            Did you know you might need PRA for recruiting participants? Click below to find out more.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a href="{{ '#pra-for-recruitment' | url }}" class="usa-button">PRA for recruitment</a>
                    </div>
                </div>
            </li>
            <li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header text-bold">
                        <p class="usa-card__heading">Research</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/research-icon.webp' | url }}" alt=""
                                width="150" height="150" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p>
                            Find out how likely it is that you will need PRA clearance for your research activities by
                            clicking below.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a href="{{ '#pra-for-researcher' | url }}" class="usa-button">PRA for research</a>
                    </div>
                </div>
            </li>
            <li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Not sure yet... </p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/not-sure-yet-icon.webp' | url }}" alt=""
                                width="150" height="150" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p>
                            If you're not sure yet, you can learn more about PRA clearance for recruitment vs. research
                            by clicking below.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a href="{{ '#common-research-methods' | url }}" class="usa-button">Learn more <span
                                class="usa-sr-only">about PRA clearance for recruitment vs. research</span></a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__heading text-bold margin-bottom-05">PRA clearance for RECRUITMENT vs. RESEARCH
                    activities
                </p>
                <p class="margin-top-0 text-bold margin-bottom-05">You may need separate clearances for recruitment and
                    research
                    activities.</p>
                <p class="usa-alert__text margin-top-05">
                    This is because both recruitment activities and research activities could constitute different kinds
                    of "information collections". Find out more below or jump down to look at examples.
                </p>
            </div>
        </div>
    </section>
    <section class="usa-section pra-determination-section border-section">
        <h2 class="site-preview-heading">What factors determine if you need PRA clearance?</h2>
        <p>Because PRA governs the collection of information of the public, whether or not you need PRA clearance for
            your research activities hinges on the definition of "information", what constitutes an "information
            collection" and how PRA applies. Below are relevant excerpts from the text of the law and other official
            guidance:
        </p>
        <div class="quote-slider margin-top-5" role="region" aria-roledescription="carousel" aria-label="Quotes Slider">
            <!-- Slide Container -->
            <ul class="slides-container" id="slides-container">
                <li class="slide">
                    <blockquote>
                        <q>An information collection means "obtaining, soliciting, or requiring the disclosure to third
                            parties or the public of information (facts or opinions) by or for an agency by means of
                            identical questions posed to, or identical reporting, record keeping, or disclosure
                            requirements
                            imposed on 10 or more persons, whether such collection of information is mandatory,
                            voluntary,
                            or necessary to obtain or retain a benefit.</q>
                        <p class="author margin-top-05 margin-bottom-0">
                            <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://www.ecfr.gov/current/title-5/chapter-III/subchapter-B/part-1320/section-1320.3">5
                                CFR 1320.3(c)</a>
                        </p>
                    </blockquote>
                </li>
                <li class="slide">
                    <blockquote>
                        <q>It is worth emphasizing that agencies may ask for facts and opinions of Federal employees
                            without triggering the PRA.</q>
                        <p class="author margin-top-05 margin-bottom-0">
                            <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/inforeg/PRAPrimer_04072010.pdf">Information
                                Collection Under the Paperwork Reduction Act</a>
                        </p>
                    </blockquote>
                </li>
                <li class="slide">
                    <blockquote>
                        <q>The PRA applies to collections of information using identical questions posed to, or
                            reporting
                            or recordkeeping requirements imposed on, "ten or more persons." For the purpose of counting
                            the
                            number of respondents, agencies should consider the number of respondents within any 12
                            month
                            period.</q>
                        <p class="author margin-top-05 margin-bottom-0">
                            <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/inforeg/PRAPrimer_04072010.pdf">Information
                                Collection Under the Paperwork Reduction Act</a>
                        </p>
                    </blockquote>
                </li>
                <li class="slide">
                    <blockquote>
                        <q>OMB regulations specify a number of items that are generally not "information" under the PRA.
                            Important examples are...facts or opinions that are (1) submitted in response to general
                            solicitations of public comments, (2) addressed to a single person, (3) obtained or
                            solicited at
                            or in connection with public hearings or meetings, (4) obtained through direct observation
                            by
                            the agency (e.g., through visual inspection to determine how long it takes for people to
                            complete a specific transaction), or (5) obtained from participants in clinical trials
                            (which
                            typically do not involve answers to "identical questions").</q>
                        <p class="author margin-top-05 margin-bottom-0">
                            <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/inforeg/inforeg/memos/2014/appendix-data-search-tools-calculators.pdf">Exclusions
                                to the regulatory definition of "information" under Paperwork Reduction Act</a>
                        </p>
                    </blockquote>
                </li>
            </ul>
            <!-- Slider Controls -->
            <div class="slider-controls" role="group" aria-label="Slide controls">
                <!-- Previous Arrow -->
                <span class="prev" tabindex="0" role="button" aria-label="Previous Quote">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="{{ '/assets/uswds/img/sprite.svg#navigate_before' | url }}"></use>
                    </svg>
                </span>

                <!-- Dot Navigation -->
                <div class="dot-nav-container">
                    <div class="dot-nav" tabindex="0" role="button" aria-label="Go to Quote 1">
                        <span><i class="usa-sr-only">Quote 1</i></span>
                    </div>
                    <div class="dot-nav" tabindex="0" role="button" aria-label="Go to Quote 2">
                        <span><i class="usa-sr-only">Quote 2</i></span>
                    </div>
                    <div class="dot-nav" tabindex="0" role="button" aria-label="Go to Quote 3">
                        <span><i class="usa-sr-only">Quote 3</i></span>
                    </div>
                    <div class="dot-nav" tabindex="0" role="button" aria-label="Go to Quote 4">
                        <span><i class="usa-sr-only">Quote 4</i></span>
                    </div>                   

                </div>

                <!-- Next Arrow -->
                <span class="next" tabindex="0" role="button" aria-label="Next Quote">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="{{ '/assets/uswds/img/sprite.svg#navigate_next' | url }}"></use>
                    </svg>
                </span>
            </div>
        </div>
        <p class="text-bold">Collectively translated into plain English, these excerpts tell us that whether you need
            PRA clearance depends on:
        </p>

        <div class="grid-row grid-gap pra-clearance-dependencies">
            <div class="grid-col-12 tablet:grid-col-6">
                <div class="content-row bg-primary-lighter height-full radius-md padding-3">
                    <p class="text-bold margin-top-0">WHO you will collect information from</p>
                    <ul class="usa-list margin-top-05">
                        <li>Whether you will have 10 or more participants (over a 12 month period)</li>
                        <li>Whether participants are members of the public or federal employees</li>
                    </ul>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-6">
                <div class="content-row bg-primary-lighter height-full radius-md padding-3">
                    <p class="text-bold margin-top-0">HOW you will collect information</p>
                    <ul class="usa-list margin-top-05">
                        <li>Whether your research activities are "standardized" (i.e posing a set of "identical
                            questions")</li>
                        <li>Whether your research activities involve "direct observation" (i.e. "visual inspection"
                            of participant activities)</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>Keep reading to find out how these considerations apply to your recruitment and research activities!</p>
    </section>
    <section id="pra-for-recruitment" class="usa-section pra-for-recruitment-section border-section">
        <h2 class="site-preview-heading margin-bottom-0">PRA clearance for RECRUITMENT activities</h2>
        <p class="margin-top-05">
            Recruiting participants for your research may require PRA clearance because it could involve collecting
            information from members of the public.
        </p>
        <form id="pra-recruitment-form" class="usa-form questions-box">
            <h3>Find out if you will need PRA clearance for RECRUITMENT</h3>
            <h4>Answer the following questions about your RECRUITMENT activities:</h4>
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Over the course of 12 months will you be recruiting 10 or more participants? (OR is it possible that 10 or more people will respond to your call for recruitment?)</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="recruiting-10-or-more-yes" type="radio" name="recruiting-10-or-more" value="yes" />
                        <label class="usa-radio__label" for="recruiting-10-or-more-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="recruiting-10-or-more-no" type="radio" name="recruiting-10-or-more" value="no" />
                        <label class="usa-radio__label" for="recruiting-10-or-more-no">No</label>
                    </span>
                </div>
            </fieldset>
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Are you planning to recruit any members of the public (including contractors)?</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="recruiting-public-yes" type="radio" name="recruiting-public" value="yes" />
                        <label class="usa-radio__label" for="recruiting-public-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="recruiting-public-no" type="radio" name="recruiting-public" value="no" />
                        <label class="usa-radio__label" for="recruiting-public-no">No</label>
                    </span>
                </div>
            </fieldset>   
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Will you be collecting <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://www.gsa.gov/directives-library/gsa-rules-of-behavior-for-handling-personally-identifiable-information-pii-2">Personally Identifiable Information</a> (PII) from participants during the recruitment process? PII includes, but is not limited to: name, SSN, DoB, email address, home address, phone number, and demographic characteristics.</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="collecting-pii-yes" type="radio" name="collecting-pii" value="yes" />
                        <label class="usa-radio__label" for="collecting-pii-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="collecting-pii-no" type="radio" name="collecting-pii" value="no" />
                        <label class="usa-radio__label" for="collecting-pii-no">No</label>
                    </span>
                </div>
            </fieldset>
            <p class="quidance-container guidance-gray">Guidance will appear here</p>
            <p class="reset-button-wrapper text-right">
                <button class="usa-button usa-button--unstyled reset-form text-primary-lighter" type="button">Reset</button>
            </p>
        </form>
        <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="recruitment-activities">
                    Recruitment activities that do NOT need PRA clearance
                </button>
            </h3>
            <div id="recruitment-activities" class="usa-accordion__content usa-prose">
                <h4 class="margin-top-05 margin-bottom-05">Recruiting through third-party services</h4>
                <p class="margin-top-05">
                    If you are using a third-party tool to recruit participants (i.e. UserTesting.com, Optimal Workshop, etc.), you do NOT need PRA clearance. However, you may still need it for research activities; please refer to the research section below.
                </p>
                <h4 class="margin-top-05 margin-bottom-05">Recruiting federal employees ONLY</h4>
                <p class="margin-top-05">If you are planning to recruit federal employees and federal employees ONLY, you do not need PRA clearance.</p>
            </div>
        </div>
    </section>
    <section id="pra-for-researcher" class="usa-section pra-for-researcher-section border-section">
        <h2 class="site-preview-heading margin-bottom-0">PRA clearance for RESEARCH activities</h2>
        <p class="margin-top-05">
            Depending on the nature of the research method(s) you are using, you may need PRA clearance. Keep reading to find out more.
        </p>
        <form id="pra-researcher-form" class="usa-form questions-box">
            <h3>Find out if you will need PRA clearance for RESEARCH</h3>
            <h4>Answer the following questions about your RESEARCH PARTICIPANTS:</h4>
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Over the course of 12 months will you be conducting research with 10 or more participants?</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="research-10-or-more-yes" type="radio" name="research-10-or-more" value="yes" />
                        <label class="usa-radio__label" for="research-10-or-more-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="research-10-or-more-no" type="radio" name="research-10-or-more" value="no" />
                        <label class="usa-radio__label" for="research-10-or-more-no">No</label>
                    </span>
                </div>
            </fieldset>
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Will ANY of your research participants be members of the public (including contractors)?</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="research-public-yes" type="radio" name="research-public" value="yes" />
                        <label class="usa-radio__label" for="research-public-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="research-public-no" type="radio" name="research-public" value="no" />
                        <label class="usa-radio__label" for="research-public-no">No</label>
                    </span>
                </div>
            </fieldset>   
            <h4>Answer the following questions about your RESEARCH METHODS:</h4>
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Will you be posing a set of standardized questions to participants during your research?</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="standardized-question-yes" type="radio" name="standardized-question" value="yes" />
                        <label class="usa-radio__label" for="standardized-question-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="standardized-question-no" type="radio" name="standardized-question" value="no" />
                        <label class="usa-radio__label" for="standardized-question-no">No</label>
                    </span>
                </div>
            </fieldset>
            <fieldset class="usa-fieldset grid-row">
                <div class="grid-col-12 tablet:grid-col-9 padding-right-4">
                    <legend class="usa-legend">Will you be directly observing research participants during the research activities?</legend>
                </div>
                <div class="grid-col-12 text-right tablet:grid-col-3">
                    <span class="usa-radio display-inline-block text-middle margin-top-05 margin-right-2">
                        <input class="usa-radio__input" id="direct-observation-yes" type="radio" name="direct-observation" value="yes" />
                        <label class="usa-radio__label" for="direct-observation-yes">Yes</label>
                    </span>
                    <span class="usa-radio display-inline-block text-middle margin-top-05">
                        <input class="usa-radio__input" id="direct-observation-no" type="radio" name="direct-observation" value="no" />
                        <label class="usa-radio__label" for="direct-observation-no">No</label>
                    </span>
                </div>
            </fieldset>     
            <p class="quidance-container guidance-gray">Guidance will appear here</p>
            <p class="reset-button-wrapper text-right">
                <button class="usa-button usa-button--unstyled reset-form text-primary-lighter" type="button">Reset</button>
            </p>
        </form>
        <div class="grid-row grid-gap interview-types">
            <div class="grid-col-12 tablet:grid-col-6 margin-bottom-4">
                <div class="usa-alert usa-alert--info height-full">
                    <div class="usa-alert__body">
                        <h4 class="usa-alert__heading text-bold margin-bottom-05">Standardized questions</h4>
                        <p class="margin-top-0 text-bold margin-bottom-05">This refers to a set of identical (word for word) questions that are posed to participants.</p>
                        <ul class="usa-list margin-top-05">
                            <li>For example, a screener survey asking for demographic information would be considered "standardized".</li>
                            <li>Asking participants to think aloud while they try to navigate a website prototype would not be considered "standardized".</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-6 margin-bottom-4">
                <div class="usa-alert usa-alert--info height-full">
                    <div class="usa-alert__body">
                        <h4 class="usa-alert__heading text-bold margin-bottom-05">Direct observation</h4>
                        <p class="margin-top-0 text-bold margin-bottom-05">Direct observation involves "visually inspecting" a participant during research.</p>
                        <ul class="usa-list margin-top-05">
                            <li>For example, a moderated usability test would involve direct observation, while an unmoderated usability test would not.</li>
                            <li>Conducting a survey does not involve direct observation.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="true"
                    aria-controls="research-activities">
                    Research activities that do NOT need PRA clearance
                </button>
            </h3>
            <div id="research-activities" class="usa-accordion__content usa-prose">
                <h4 class="margin-top-05 margin-bottom-05">Conducting research with federal employees ONLY</h4>
                <p class="margin-top-05">
                    If your research participants will be federal employees and federal employees ONLY, you do not need PRA clearance for your research activities.
                </p>
                <h4 class="margin-top-05 margin-bottom-05">Collecting research from public meetings or hearings</h4>
                <p class="margin-top-05">Research in these settings is exempt from PRA.</p>
            </div>
        </div>
    </section>
    <section id="common-research-methods" class="usa-section common-research-methods-section border-section">
        <h2 class="site-preview-heading">Common research methods and PRA implications</h2>
        <p class="margin-top-05">
            If a method you plan to use is not listed here, please consult OMB's CX PRA Desk Officer for more information.
        </p>
        <p class="margin-bottom-05 text-bold font-sans-lg">Discovery methods</p>
        <p class="margin-top-05">These methods likely do NOT require PRA clearance. Click the link to view the 18F Method card for more information.</p>
        <ul class="usa-card-group grid-row">
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Card sorting</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/card-sorting-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No PRA implications if done as directly moderated sessions. Unmoderated may require PRA.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/validate/card-sorting/">Learn more <span
                        class="usa-sr-only">about card sorting</span></a> 
                    </div>
                </div>
            </li>
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Multivariate testing</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/multi-testing-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No one asks the participants questions, so PRA does not apply.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/validate/multivariate-testing/">Learn more <span
                        class="usa-sr-only">about multivariate testing</span></a> 
                    </div>
                </div>
            </li>
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Usability testing</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/usability-testing-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No PRA implications, as it involves direct observation and non-standardized conversation.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/validate/usability-testing/">Learn more <span
                        class="usa-sr-only">about usability testing</span></a> 
                    </div>
                </div>
            </li>
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Visual preference testing</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/visual-pref-testing-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No PRA implications, as it involves direct observation and non-standardized conversation.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/validate/visual-preference-testing/">Learn more <span
                        class="usa-sr-only">about visual preference testing</span></a> 
                    </div>
                </div>
            </li>
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Other method</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/other-methods-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            Please consult the 18F Method Cards and OMB's CX PRA Desk Officer for more information.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/">Learn more <span
                        class="usa-sr-only">about other methods of testing</span></a> 
                    </div>
                </div>
            </li>
        </ul>
        <p class="margin-bottom-05 text-bold font-sans-lg">Validation methods</p>
        <p class="margin-top-05">These methods likely do NOT require PRA clearance. Click the link to view the 18F Method card for more information.</p>
        <ul class="usa-card-group grid-row">
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Cognitive walkthrough</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/cognitive-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No PRA implications, as it involves direct observation and non-standardized conversation.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/discover/cognitive-walkthrough/">Learn more <span
                        class="usa-sr-only">about cognitive walkthrough</span></a> 
                    </div>
                </div>
            </li>
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">Contextual inquiry</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/contextual-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No PRA implications, if done properly. Contextual interviews should be non-standardized, conversational, and based on observation.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/discover/contextual-inquiry/">Learn more <span
                        class="usa-sr-only">about contextual inquiry</span></a> 
                    </div>
                </div>
            </li>
            <li class="usa-card discovery-methods tablet:grid-col-6 desktop:grid-col-4">
                <div class="usa-card__container">
                    <div class="usa-card__header">
                        <p class="usa-card__heading text-bold">User interviews</p>
                    </div>
                    <div class="usa-card__media usa-card__media--inset">
                        <div class="usa-card__img">
                            <img aria-hidden="true" src="{{ '/assets/images/user-interviews-icon.webp' | url }}" alt=""
                                width="96" height="96" />
                        </div>
                    </div>
                    <div class="usa-card__body">
                        <p class="margin-top-05 margin-bottom-0 text-primary text-bold">PRA implications</p>
                        <p class="margin-top-05">
                            No PRA implications, as it involves direct observation and non-standardized conversation.
                        </p>
                    </div>
                    <div class="usa-card__footer">
                        <a class="usa-button usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/methods/discover/stakeholder-and-user-interviews/">Learn more <span
                        class="usa-sr-only">about usability testing</span></a> 
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section class="usa-section examples-section border-section">
        <h2 class="site-preview-heading">Examples</h2>
        <p>The following are examples of common research activities that would likely need PRA clearance for recruitment, research, neither, or both.</p>
        <table class="usa-table usa-table--stacked">
            <thead>
                <tr>
                    <th scope="col">Description of research activities</th>
                    <th scope="col">Needs PRA clearance for recruitment?</th>
                    <th scope="col">Needs PRA clearance for research?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th data-label="Description of research activities" scope="row">
                        [Name] is recruiting a few participants through word of mouth by connecting with a community organization they had previous contact with. They are planning to have unstructured conversations with 4-5 participants about whether they might find a new website feature useful or not.
                    </th>
                    <td data-label="Needs PRA clearance for recruitment?">
                        NO
                    </td>
                    <td data-label="Needs PRA clearance for research?">
                        NO
                    </td>
                </tr>
                <tr>
                    <th data-label="Description of research activities" scope="row">
                        [Name] needs to recruit 20-30 people that are representative of the US population and will send out a screener survey to some email listservs. They are planning to conduct moderated, non-standardized (open-ended) card sorting tests to get a better sense of people’s mental models.
                    </th>
                    <td data-label="Needs PRA clearance for recruitment?">
                        YES
                    </td>
                    <td data-label="Needs PRA clearance for research?">
                        NO
                    </td>
                </tr>
                <tr>
                    <th data-label="Description of research activities" scope="row">
                        [Name] is conducting an anonymous customer satisfaction survey (meaning they won’t collect any Personally Identifiable Information) and expects between 50-100 participants to fill it out.
                    </th>
                    <td data-label="Needs PRA clearance for recruitment?">
                        NO
                    </td>
                    <td data-label="Needs PRA clearance for research?">
                        YES
                    </td>
                </tr>
                <tr>
                    <th data-label="Description of research activities" scope="row">
                        [Name] needs to test the accessibility of their website and wants to recruit participants with and without disabilities. They are planning to conduct 12-15 moderated interviews and usability tests.  
                    </th>
                    <td data-label="Needs PRA clearance for recruitment?">
                        YES
                    </td>
                    <td data-label="Needs PRA clearance for research?">
                        YES
                    </td>
                </tr>
            </tbody>
        </table>       

    </section>
    {{ content }}
</div>
{% capture sliderjs %}
{% include "_includes/theme/js/slider.js" %}
{% endcapture %}

{% capture praform %}
{% include "_includes/theme/js/pra-form.js" %}
{% endcapture %}

<script>
    // Slider script
    {{ sliderjs | jsmin }}

    //PRA form script
    {{ praform | jsmin }}
</script>