---
layout: layouts/page
---

<div class="get-pra-clearance-wrapper static-content">
    <h1 class="margin-top-0">Get PRA clearance</h1>
    <p>If you are ready to get PRA clearance, congratulations! We're here to walk you through the steps. If you are
        still not sure whether you need PRA clearance for your research, please refer to the previous sections.</p>
    <p><a href="{{ '#submit-fast-track-pra' | url }}" class="usa-link">If you are ready to submit a Fast Track PRA
            clearance request, jump down to get started</a>. Otherwise, keep reading for more information.</p>
    <section class="usa-section what-do-you-need-pra-for-section border-section">
        <h2 class="site-preview-heading">PRA clearance for CX/UX work</h2>
        <p>
            The <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                href="https://pra.digital.gov/clearance-process/">standard PRA clearance process</a> that you may have
            heard about typically takes around 6-9 months; however, there is good news! <span class="text-italic">GSA
                has several different types of PRA clearances that are designed specifically for conducting user
                research with much faster turnaround times.</span>
        </p>
        <h3 class="margin-bottom-05">Clearance types</h3>
        <table class="usa-table usa-table--stacked margin-bottom-4 margin-top-05">
            <thead>
                <tr>
                    <th scope="col">CX/UX PRA clearance type</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Timeline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th data-label="CX/UX PRA clearance type" scope="row">
                        <p class="text-bold text-primary margin-top-0">Generic Clearance</p>
                        <p><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://pra.digital.gov/clearance-types/#generic-clearance">Generic Clearance for
                                the Collection of Qualitative Feedback on Agency Service Delivery (GSA)</a></p>
                    </th>
                    <td data-label="Purpose">
                        <p class="text-bold text-primary margin-top-0">Designed for larger-scale UX/CX surveys that will
                            involve statistical analysis.</p>
                        <p>According to <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://pra.digital.gov/clearance-types/#generic-clearance">pra.digital.gov</a>,
                            <span class="text-italic">"generic clearances almost always involve statistical methods and
                                analysis and most information collections are not appropriate for generic
                                clearances."</span>
                        </p>
                        <p class="margin-bottom-05">Good fits for this type of clearance include:</p>
                        <ul class="usa-list">
                            <li>Customer satisfaction surveys</li>
                            <li>Focus group tests</li>
                            <li>Website usability surveys</li>
                        </ul>
                    </td>
                    <td data-label="Timeline">
                        30-60 days
                    </td>
                </tr>
                <tr>
                    <th data-label="CX/UX PRA clearance type" scope="row">
                        <p class="text-bold text-primary margin-top-0">Generic Clearance: Fast-Track (A-11 Section 280)
                        </p>
                        <p><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://www.reginfo.gov/public/do/PRAViewICR?ref_nbr=202208-3090-003">Generic
                                Clearance for Improving GSA's Customer Experience (OMB Circular A-11, Section 280
                                Implementation)</a></p>
                    </th>
                    <td data-label="Purpose">
                        <p class="text-bold text-primary margin-top-0">Designed for smaller-scale UX/CX qualitative
                            research activities.</p>
                        <p class="text-italic">"The Agency will collect, analyze, and interpret information gathered
                            through this generic clearance to identify services' accessibility, navigation, and use by
                            customers, and make improvements in service delivery based on customer insights gathered
                            through developing an understanding of the user experience interacting with Government."</p>
                        <p class="margin-bottom-05">
                            Under this request, three types of activities will be conducted to generate customer
                            insights:
                        </p>
                        <ul class="usa-list">
                            <li>Customer Research (e.g., User Persona and Journey Map Development)</li>
                            <li>Customer Feedback (Satisfaction Survey)</li>
                            <li>User Testing of Services and Digital Products</li>
                        </ul>
                    </td>
                    <td data-label="Timeline">
                        7-14 days
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="margin-bottom-05">Using the Fast Track clearance process at TTS</h3>
        <p class="margin-top-0">Because the Fast Track process was designed for smaller scale qualitative user research
            activities, it is likely that you will be able to use this process as a user researcher at TTS. However, if
            you are at all uncertain whether you can use this clearance type, or if you have any outstanding questions,
            please contact <a href="mailto:Todd.W.Rubin2@omb.eop.gov">OMB's CX PRA Desk Officer</a> before beginning.
        </p>
        <h4 class="margin-bottom-05">Fast Track clearance process overview</h4>
        <p class="margin-top-0">
            <img aria-hidden="true" src="{{ '/assets/images/fast-track-process.webp' | url }}" alt="" width="863"
                height="407" />
        </p>
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__heading text-bold margin-bottom-05">What is an ICR?</p>
                <p class="margin-top-0 text-bold margin-bottom-05">ICR stands for "Information Collection Request"</p>
                <p class="usa-alert__text margin-top-05">
                    Information Collection Requests are what researchers submit when they need to get PRA clearance for
                    their research. PRA clearances are granted to specific Information Collection Requests. In practice,
                    researchers fill out an ICR form with the details of their research and attach any relevant
                    documents to complete the ICR package, which then gets reviewed and approved by lawyers at OMB.
                </p>
            </div>
        </div>
        <h3 class="margin-bottom-05">Fast Track examples</h3>
        <p class="margin-top-0">
            The following are examples of research activities at TTS that have gotten clearance through the Fast Track
            process:
        </p>
        <h4 class="margin-bottom-05">RECRUITMENT activities</h4>
        <ul class="usa-list">
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=257585">Vote.gov UX
                    Research Participant Signup List</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=258147">Vote.gov UX
                    Research Participant Signup List (Spanish)</a></li>
        </ul>
        <h4 class="margin-bottom-05">RESEARCH activities</h4>
        <ul class="usa-list">
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=254453">Login.gov
                    In-Person Proofing Follow Up Survey</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=262344">Login.gov
                    Remote Identity Verification Optional Survey Question</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=252907">Usability
                    Testing of Federal Forms to Reduce Burden, Enhance Data Quality, and Improve Access to Resources</a>
            </li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=264458">USA.gov
                    (HISP) Website Customer Satisfaction Feedback Surveys</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=258408">USWDS Top
                    Tasks Research Study - Customer Survey Feedback</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=254448">User Testing
                    for the Federal Audit Clearinghouse</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=264606">IRS Direct
                    File Post Submission Survey</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=260359">Pre-engagement
                    Assessment of WorkwithUSAID.org</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=260357">USAID Partner
                    Directory User Experience</a></li>
        </ul>
        <h3>Additional considerations</h3>
        <h4 class="margin-bottom-05">Working with a partner agency</h4>
        <p class="margin-top-0">
            If you are doing research on behalf of a partner agency, you should check with them first to determine
            whether you should follow their PRA clearance process.
        </p>
        <h4 class="margin-bottom-05">Requesting PRA clearance for translated materials</h4>
        <p class="margin-top-0">
            You do need to get an additional PRA clearance for translated materials. However, simply follow the same
            process outlined above and let OMB's CX PRA Desk Officer know that you are submitting a translation of
            previously cleared materials.
        </p>
    </section>
    <section id="submit-fast-track-pra" class="usa-section submit-fast-track-clearance-section">
        <h2 class="site-preview-heading margin-top-0 margin-bottom-05">Submitting a Fast Track clearance request</h2>
        <p class="margin-top-0">
            Because the Fast Track process was designed for smaller scale qualitative user research activities, it is
            likely that you will be able to use this process as a user researcher at TTS. However, if you are at all
            uncertain whether you can use this clearance type, or if you have any outstanding questions, please contact
            OMB's CX PRA Desk Officer before beginning.
        </p>
        <h3>What you can expect</h3>
        <h4 class="margin-bottom-05">Timeline</h4>
        <p class="margin-top-0">
            The entire process typically takes 7-14 business days. However, depending on OMB PRA Reviewer's
            availability, the timeline may be slightly shorter or longer. Please plan ahead to the best of your ability!
        </p>
        <h4 class="margin-bottom-05">Communication</h4>
        <p class="margin-top-0">
            All communication and submission happens via email.
        </p>
        <h3>Steps to submit a Fast Track clearance request</h3>
        <p class="margin-bottom-4">
            <a href="{{ '#download-template-modal' | url }}" class="usa-button" aria-controls="download-template-modal" data-open-modal>Download ICR form template</a>
        </p>
        <ol class="usa-list">
            <li>Fill out an Information Collection Request (ICR) form for your research project.</li>
            <li>Send the completed ICR form to OMB's CX PRA Desk Officer for pre-review.</li>
            <li>Make any necessary edits to the form.</li>
            <li>Submit finalized ICR form to GSA's PRA Desk Officer.</li>
            <li>GSA's PRA Desk Officer will upload your ICR form in ROCIS.</li>
            <li>OMB PRA Reviewer will receive your ICR form in ROCIS and approve it.</li>
            <li>You will be notified when you receive approval by either the GSA PRA Desk Officer or the OMB PRA
                Reviewer.</li>
        </ol>
    </section>
    <div class="usa-modal radius-0 bg-primary-lighter" id="download-template-modal" aria-labelledby="modal-1-heading"
        aria-describedby="modal-1-description">
        <div class="usa-modal__content">
            <div class="usa-modal__main text-center">
                <h4 class="usa-modal__heading font-family-sans" id="modal-1-heading">
                    ICR A-11 Section 280 Clearance Template
                </h4>
                <div class="usa-prose">
                    <div id="modal-1-description">
                        <p>Preview the form below or download if you are ready to fill it out.</p>
                        <p class="margin-bottom-4">
                            <a href="{{ '/assets/documents/ICR-Template_A11-Section-280-Clearance-v5-13-24.docx' | url }}" class="usa-button dynamic-base-url">Download template</a>
                        </p>
                        <!-- This iframe content only loads in the cloud and not locally because it's a relative path -->
                        <iframe data-dynamic-src="{{ '/assets/documents/ICR-Template_A11-Section-280-Clearance-v5-13-24.docx' | url }}" width="100%" height="600"></iframe>
                    </div>
                </div>
            </div>
            <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{ '/assets/uswds/img/sprite.svg#close' | url }}"></use>
                </svg>
            </button>
        </div>
    </div>
    {{ content }}
</div>
{% capture modalFixJs %}
{% include "_includes/theme/js/modalFix.js" %}
{% endcapture %}

{% capture baseUrl %}
{% include "_includes/theme/js/base-url.js" %}
{% endcapture %}

<script>
    // Modal Fix
    {{ modalFixJs | jsmin }}

    // Base URL
    {{ baseUrl | jsmin }}
</script>