---
layout: layouts/page
---
<script src="{{ '/assets/pizzip/dist/pizzip.min.js' | url }}"></script>
<script src="{{ '/assets/docxtemplater/build/docxtemplater.min.js' | url }}"></script>
<script src="{{ '/assets/pdf-lib/dist/pdf-lib.min.js' | url }}"></script>

<div class="get-pra-clearance-wrapper static-content">
    <h1 class="margin-top-0">Get PRA clearance</h1>
    <p>If you are ready to get PRA clearance, congratulations! We're here to walk you through the steps. If you are
        still not sure whether you need PRA clearance for your research, please refer to the previous sections.</p>
    <p><a href="{{ '#submit-fast-track-pra' | url }}" class="usa-link">If you are ready to submit a Fast Track PRA
            clearance request, jump down to get started</a>. Otherwise, keep reading for more information.</p>
    <section class="usa-section what-do-you-need-pra-for-section border-section">
        <h2 class="site-preview-heading">PRA clearance for CX/UX work</h2>
        <p>
            The <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                href="https://pra.digital.gov/clearance-process/">standard PRA clearance process</a> that you may have
            heard about typically takes around 6-9 months; however, there is good news! <span class="text-italic">GSA
                has several different types of PRA clearances that are designed specifically for conducting user
                research with much faster turnaround times.</span>
        </p>
        <h3 class="margin-bottom-05">Clearance types</h3>
        <table class="usa-table usa-table--stacked margin-bottom-4 margin-top-05">
            <thead>
                <tr>
                    <th scope="col">CX/UX PRA clearance type</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Timeline</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th data-label="CX/UX PRA clearance type" scope="row">
                        <p class="text-bold text-primary margin-top-0">Generic Clearance</p>
                        <p><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://pra.digital.gov/clearance-types/#generic-clearance">Generic Clearance for
                                the Collection of Qualitative Feedback on Agency Service Delivery (GSA)</a></p>
                    </th>
                    <td data-label="Purpose">
                        <p class="text-bold text-primary margin-top-0">Designed for larger-scale UX/CX surveys that will
                            involve statistical analysis.</p>
                        <p>According to <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://pra.digital.gov/clearance-types/#generic-clearance">pra.digital.gov</a>,
                            <span class="text-italic">"generic clearances almost always involve statistical methods and
                                analysis and most information collections are not appropriate for generic
                                clearances."</span>
                        </p>
                        <p class="margin-bottom-05">Good fits for this type of clearance include:</p>
                        <ul class="usa-list">
                            <li>Customer satisfaction surveys</li>
                            <li>Focus group tests</li>
                            <li>Website usability surveys</li>
                        </ul>
                    </td>
                    <td data-label="Timeline">
                        30-60 days
                    </td>
                </tr>
                <tr>
                    <th data-label="CX/UX PRA clearance type" scope="row">
                        <p class="text-bold text-primary margin-top-0">Generic Clearance: Fast-Track (A-11 Section 280)
                        </p>
                        <p><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://www.reginfo.gov/public/do/PRAViewICR?ref_nbr=202208-3090-003">Generic
                                Clearance for Improving GSA's Customer Experience (OMB Circular A-11, Section 280
                                Implementation)</a></p>
                    </th>
                    <td data-label="Purpose">
                        <p class="text-bold text-primary margin-top-0">Designed for smaller-scale UX/CX qualitative
                            research activities.</p>
                        <p class="text-italic">"The Agency will collect, analyze, and interpret information gathered
                            through this generic clearance to identify services' accessibility, navigation, and use by
                            customers, and make improvements in service delivery based on customer insights gathered
                            through developing an understanding of the user experience interacting with Government."</p>
                        <p class="margin-bottom-05">
                            Under this request, three types of activities will be conducted to generate customer
                            insights:
                        </p>
                        <ul class="usa-list">
                            <li>Customer Research (e.g., User Persona and Journey Map Development)</li>
                            <li>Customer Feedback (Satisfaction Survey)</li>
                            <li>User Testing of Services and Digital Products</li>
                        </ul>
                    </td>
                    <td data-label="Timeline">
                        7-14 days
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="margin-bottom-05">Using the Fast Track clearance process at TTS</h3>
        <p class="margin-top-0">Because the Fast Track process was designed for smaller scale qualitative user research
            activities, it is likely that you will be able to use this process as a user researcher at TTS. However, if
            you are at all uncertain whether you can use this clearance type, or if you have any outstanding questions,
            please contact <a href="mailto:Todd.W.Rubin2@omb.eop.gov">OMB's CX PRA Desk Officer</a> before beginning.
        </p>
        <h4 class="margin-bottom-05">Fast Track clearance process overview</h4>
        <p class="margin-top-0">
            <img aria-hidden="true" src="{{ '/assets/images/fast-track-process.webp' | url }}" alt="" width="863"
                height="407" />
        </p>
        <div class="usa-alert usa-alert--info">
            <div class="usa-alert__body">
                <p class="usa-alert__heading text-bold margin-bottom-05">What is an ICR?</p>
                <p class="margin-top-0 text-bold margin-bottom-05">ICR stands for "Information Collection Request"</p>
                <p class="usa-alert__text margin-top-05">
                    Information Collection Requests are what researchers submit when they need to get PRA clearance for
                    their research. PRA clearances are granted to specific Information Collection Requests. In practice,
                    researchers fill out an ICR form with the details of their research and attach any relevant
                    documents to complete the ICR package, which then gets reviewed and approved by lawyers at OMB.
                </p>
            </div>
        </div>
        <h3 class="margin-bottom-05">Fast Track examples</h3>
        <p class="margin-top-0">
            The following are examples of research activities at TTS that have gotten clearance through the Fast Track
            process:
        </p>
        <h4 class="margin-bottom-05">RECRUITMENT activities</h4>
        <ul class="usa-list">
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=257585">Vote.gov UX
                    Research Participant Signup List</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=258147">Vote.gov UX
                    Research Participant Signup List (Spanish)</a></li>
        </ul>
        <h4 class="margin-bottom-05">RESEARCH activities</h4>
        <ul class="usa-list">
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=254453">Login.gov
                    In-Person Proofing Follow Up Survey</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=262344">Login.gov
                    Remote Identity Verification Optional Survey Question</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=252907">Usability
                    Testing of Federal Forms to Reduce Burden, Enhance Data Quality, and Improve Access to Resources</a>
            </li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=264458">USA.gov
                    (HISP) Website Customer Satisfaction Feedback Surveys</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=258408">USWDS Top
                    Tasks Research Study - Customer Survey Feedback</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202203-3090-003&icID=254448">User Testing
                    for the Federal Audit Clearinghouse</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=264606">IRS Direct
                    File Post Submission Survey</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=260359">Pre-engagement
                    Assessment of WorkwithUSAID.org</a></li>
            <li><a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.reginfo.gov/public/do/PRAViewIC?ref_nbr=202208-3090-003&icID=260357">USAID Partner
                    Directory User Experience</a></li>
        </ul>
        <h3>Additional considerations</h3>
        <h4 class="margin-bottom-05">Working with a partner agency</h4>
        <p class="margin-top-0">
            If you are doing research on behalf of a partner agency, you should check with them first to determine
            whether you should follow their PRA clearance process.
        </p>
        <h4 class="margin-bottom-05">Requesting PRA clearance for translated materials</h4>
        <p class="margin-top-0">
            You do need to get an additional PRA clearance for translated materials. However, simply follow the same
            process outlined above and let OMB's CX PRA Desk Officer know that you are submitting a translation of
            previously cleared materials.
        </p>
    </section>
    <section id="submit-fast-track-pra" class="usa-section submit-fast-track-clearance-section">
        <h2 class="site-preview-heading margin-top-0 margin-bottom-05">Submitting a Fast Track clearance request</h2>
        <p class="margin-top-0">
            Because the Fast Track process was designed for smaller scale qualitative user research activities, it is likely that you will be able to use this process as a user researcher at TTS. However, if you are at all uncertain whether you can use this clearance type, or if you have any outstanding questions, please contact OMB's CX PRA Desk Officer before beginning.
        </p>
        <h3>What you can expect</h3>
        <h4 class="margin-bottom-05">Timeline</h4>
        <p class="margin-top-0">
            The entire process typically takes 7-14 business days. However, depending on OMB PRA Reviewer's
            availability, the timeline may be slightly shorter or longer. Please plan ahead to the best of your ability!
        </p>
        <h4 class="margin-bottom-05">Communication</h4>
        <p class="margin-top-0">
            All communication and submission happens via email.
        </p>
        <h3>Steps to submit a Fast Track clearance request</h3>
        <!-- <p class="margin-bottom-4">
            <a href="{{ '#download-template-modal' | url }}" class="usa-button" aria-controls="download-template-modal" data-open-modal>Download ICR form template</a>
        </p> -->
        <ol class="usa-list">
            <li>Build an Information Collection Request (ICR) form for your research project.</li>
            <li>Send the completed ICR form to OMB’s CX PRA Desk Officer for pre-review.</li>
            <li>Make any necessary edits to the form.</li>
            <li>Submit finalized ICR form to GSA’s PRA Desk Officer.</li>
            <li>GSA's PRA Desk Officer will upload your ICR form in ROCIS.</li>
            <li>OMB PRA Reviewer will receive your ICR form in ROCIS and approve it.</li>
            <li>You will be notified when you receive approval by either the GSA PRA Desk Officer or the OMB PRA
                Reviewer.</li>
        </ol>
    </section>
    <section class="usa-section icr-form-builder-section">
        <h2 class="site-preview-heading margin-top-0 margin-bottom-05">ICR Form Builder</h2>
        <div class="usa-step-indicator">
          <ol class="usa-step-indicator__segments">
            <li class="usa-step-indicator__segment" id="step-indicator-0">
              <span class="usa-step-indicator__segment-label">Details</span>
            </li>
            <li class="usa-step-indicator__segment" id="step-indicator-1">
              <span class="usa-step-indicator__segment-label">Description</span>
            </li>
            <li class="usa-step-indicator__segment" id="step-indicator-2">
              <span class="usa-step-indicator__segment-label">Burden estimate</span>
            </li>
            <li class="usa-step-indicator__segment" id="step-indicator-3">
              <span class="usa-step-indicator__segment-label">Certification</span>
            </li>
            <!-- <li class="usa-step-indicator__segment" id="step-indicator-4">
              <span class="usa-step-indicator__segment-label">Attachments</span>
            </li> -->
            <li class="usa-step-indicator__segment" id="step-indicator-5">
              <span class="usa-step-indicator__segment-label">Review</span>
            </li>
          </ol>
          <div class="usa-step-indicator__header">
            <h4 class="usa-step-indicator__heading">
              <span class="usa-step-indicator__heading-counter">
                <span class="usa-sr-only">Step</span>
                <span class="usa-step-indicator__current-step" id="current-step-number">1</span>
                <span class="usa-step-indicator__total-steps">of 5</span>
              </span>
              <span class="usa-step-indicator__heading-text" id="current-step-text">Details of information collection</span>
            </h4>
          </div>
        </div>
      
        <form id="wizardForm">
            <!-- Step 1: ICR Form with USWDS Components -->
            <div class="step" data-step-title="Details of information collection">
                <!-- Title of Information Collection -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Title of information collection <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="title">Write the title of your project here.</label>
                    <input class="usa-input" type="text" id="title" name="title" required>
                </fieldset>

                <!-- Purpose of Collection -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Purpose of collection <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="purpose">What are you hoping to learn / improve?</label>
                    <textarea class="usa-textarea" id="purpose" name="purpose" rows="4" cols="50" required></textarea>
                </fieldset>
            
                <!-- Type of Activity -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Type of activity <span class="usa-hint">*</span></legend>
                    <span class="usa-hint">Choose one.</span>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="activity-customer-research" type="radio" name="radioSelection" value="Customer research (interview, focus groups, surveys)" required>
                        <label class="usa-radio__label" for="activity-customer-research">Customer research (interview, focus groups, surveys)</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="activity-feedback-survey" type="radio" name="radioSelection" value="Customer feedback survey">
                        <label class="usa-radio__label" for="activity-feedback-survey">Customer feedback survey</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="activity-usability-testing" type="radio" name="radioSelection" value="Usability testing of products or services">
                        <label class="usa-radio__label" for="activity-usability-testing">Usability testing of products or services</label>
                    </div>
                </fieldset>
            
                <!-- Survey Reporting -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">If this is a survey, will the results of this survey be reported to Touchpoints as
                        part of quarterly reporting obligations specified in OMB Circular A-11 Section 280? <span
                            class="usa-hint">*</span></legend>
                    <span class="usa-hint">Choose one.</span>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="survey-yes" type="radio" name="surveyResults" value="Yes" required>
                        <label class="usa-radio__label" for="survey-yes">Yes</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="survey-no" type="radio" name="surveyResults" value="No">
                        <label class="usa-radio__label" for="survey-no">No</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="survey-not-a-survey" type="radio" name="surveyResults"
                            value="Not a survey">
                        <label class="usa-radio__label" for="survey-not-a-survey">Not a survey</label>
                    </div>
                </fieldset>
            
                <!-- Collection Methods -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">How will you collect information? <span class="usa-hint">*</span></legend>
                    <span class="usa-hint">Helper text</span>
                    <div class="usa-checkbox">
                        <input class="usa-checkbox__input" id="collection-web-based" type="checkbox" name="checkboxes"
                            value="Web-based or social media" required>
                        <label class="usa-checkbox__label" for="collection-web-based">Web-based or social media <span
                                class="usa-hint">This can include video conferencing (Google Meet, Zoom, etc.)</span></label>
                    </div>
                    <div class="usa-checkbox">
                        <input class="usa-checkbox__input" id="collection-telephone" type="checkbox" name="checkboxes"
                            value="Telephone">
                        <label class="usa-checkbox__label" for="collection-telephone">Telephone</label>
                    </div>
                    <div class="usa-checkbox">
                        <input class="usa-checkbox__input" id="collection-in-person" type="checkbox" name="checkboxes"
                            value="In-person">
                        <label class="usa-checkbox__label" for="collection-in-person">In-person</label>
                    </div>
                    <div class="usa-checkbox">
                        <input class="usa-checkbox__input" id="collection-mail" type="checkbox" name="checkboxes"
                            value="Mail">
                        <label class="usa-checkbox__label" for="collection-mail">Mail</label>
                    </div>
                    <div class="usa-checkbox">
                        <input class="usa-checkbox__input" id="collection-other" type="checkbox" name="checkboxes"
                            value="Other">
                        <label class="usa-checkbox__label" for="collection-other">Other</label>
                    </div>
                </fieldset>
            
                <p class="text-right">
                    <button type="button" class="usa-button" onclick="nextStep()">Continue</button>
                </p>
            </div>

            <!-- Step 2 -->
            <div class="step" data-step-title="Description of information collection">
                <!-- Who will you collect the information from? -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Who will you collect the information from? <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="collect-info-from">Explain who will be interviewed and why the group is appropriate for the Federal program / service to connect with. Please provide a description of how you plan to identify your potential group of respondents and if only a sample will be solicited for feedback, how you will select them.</label>
                    <textarea class="usa-textarea" id="collect-info-from" name="collectInfoFrom" rows="5" required></textarea>
                </fieldset>

                <!-- How will you ask a respondent to provide this information? -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">How will you ask a respondent to provide this information? <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="respondent-provide-info">(e.g., after an application is submitted online, the final screen will present the opportunity to provide feedback by presenting a link to a feedback form / an actual feedback form)</label>
                    <textarea class="usa-textarea" id="respondent-provide-info" name="respondentProvideInfo" rows="5" required></textarea>
                </fieldset>

                <!-- What will the activity look like? -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">What will the activity look like? <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="activity-look-like">Describe the information collection activity – e.g. what happens when a person agrees to participate? Will facilitators or interviewers be used? What’s the format of the interview/focus group? If a survey, describe the overall survey layout/length/other details? If User Testing, what actions will you observe / how will you have respondents interact with a product you need feedback on?</label>
                    <textarea class="usa-textarea" id="activity-look-like" name="activityLookLike" rows="5" required></textarea>
                </fieldset>

                <!-- Please provide your question list -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Please provide your question list <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="question-list">Paste here the questions or prompts presented to participants in your activity. If you have an interview / facilitator guide, that can be attached to the submission and referenced here. Please make sure that all instruments, instructions, and scripts are submitted with the request.</label>
                    <textarea class="usa-textarea" id="question-list" name="questionList" rows="5" required></textarea>
                </fieldset>

                <!-- When will the activity happen? -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">When will the activity happen? <span class="usa-hint">*</span></legend>
                    <label class="usa-label" for="activity-timing">Describe the time frame or number of events that will occur (e.g., We will conduct focus groups on May 13,14,15, We plan to conduct customer intercept interviews over the course of the Summer at the field offices identified in response to #2 based on scheduling logistics concluding by Sept. 10th, or “This survey will remain on our website in alignment with the timing of the overall clearance.”)</label>
                    <textarea class="usa-textarea" id="activity-timing" name="activityTiming" rows="5" required></textarea>
                </fieldset>

                <!-- Is an incentive provided to participants? -->
                <fieldset class="usa-fieldset">
                    <legend class="usa-legend">Is an incentive (e.g., money or reimbursement of expenses, token of appreciation) provided to participants? <span class="usa-hint">*</span></legend>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="incentive-yes" type="radio" name="incentiveOptions" value="Yes" required>
                        <label class="usa-radio__label" for="incentive-yes">Yes</label>
                    </div>
                    <div class="usa-radio">
                        <input class="usa-radio__input" id="incentive-no" type="radio" name="incentiveOptions" value="No">
                        <label class="usa-radio__label" for="incentive-no">No</label>
                    </div>
                </fieldset>
                <fieldset class="usa-fieldset" id="incentive-description-container">
                    <label class="usa-label" for="incentiveDescription">If yes, describe:</label>
                    <textarea class="usa-textarea" id="incentiveDescription" name="incentiveDescription" rows="5"></textarea>
                </fieldset>

                <p class="text-right">
                    <button type="button" class="usa-button usa-button--outline" onclick="previousStep()">Back</button>
                    <button type="button" class="usa-button" onclick="nextStep()">Continue</button>  
                </p>
            </div>
      
          <!-- Step 3 -->
          <div class="step" data-step-title="Burden estimate">
            <p class="usa-hint">Add details for each category of respondents as needed.</p>
            <div id="burdenRowsContainer">
            </div>

            <p class="text-right">    
                <button type="button" class="usa-button usa-button--base" onclick="addBurdenRow()">Add Row</button>
            </p>
            
            <p class="text-right margin-top-5">
                <button type="button" class="usa-button usa-button--outline" onclick="previousStep()">Back</button>
                <button type="button" class="usa-button" onclick="nextStep()">Continue</button>  
            </p>
          </div>
      
          <!-- Step 4 -->
          <div class="step" data-step-title="Certification">
            <fieldset class="usa-fieldset certification">
                <legend class="usa-legend">I certify the following to be true <span class="usa-hint">*</span></legend>
                <ul class="usa-list">
                    <li>The collections are voluntary;</li>
                    <li>The collections are low-burden for respondents (based on considerations of total burden hours or burden-hours per respondent) and are low-cost for both the respondents and the Federal Government;</li>
                    <li>The collections are non-controversial;</li>
                    <li>Any collection is targeted to the solicitation of opinions from respondents who have experience with the program or may have experience with the program in the near future;</li>
                    <li>Personally identifiable information (PII) is collected only to the extent necessary and is not retained;</li>
                    <li>Information gathered is intended to be used for general service improvement and program management purposes;</li>
                    <li>The agency will follow the procedures specified in OMB Circular A-11 Section 280 for the required quarterly reporting to OMB of trust data and experience driver data from surveys.</li>
                    <li>Outside of the quarterly reporting mentioned in the bullet immediately above, if the agency intends to release journey maps, user personas, reports, or other data-related summaries stemming from this collection, the agency must include appropriate caveats around those summaries, noting that conclusions should not be generalized beyond the sample, considering the sample size and response rates. The agency must submit the data summary itself (e.g., the report) and the caveat language mentioned above to OMB before it releases them outside the agency. OMB will engage in a passback process with the agency.</li>
                  </ul>

                  <p>
                    <label class="usa-label" for="name">Name <span class="usa-hint">*</span></label>
                    <input class="usa-input" type="text" id="name" name="name" required>
                  </p>
    
                  <p class="margin-top-5">
                    <label class="usa-label" for="email">Email address <span class="usa-hint">*</span></label>
                    <input class="usa-input" type="email" id="email" name="email" required>
                  </p>
            </fieldset>

            <p class="text-right">
                <button type="button" class="usa-button usa-button--outline" onclick="previousStep()">Back</button>
                <button type="button" class="usa-button" onclick="submitForm()">Submit</button> 
            </p>
          </div>
      
          <!-- Step 5 -->
          <!-- <div class="step" data-step-title="Attachments">
            <fieldset class="usa-fieldset">
                <legend class="usa-legend">Upload all instruments, instructions, scripts and any other supporting documents associated with this ICR</legend>
                <label class="usa-label" for="attachments">Select one or more files</label>
                <div class="file-upload-wrapper">
                    <input class="usa-file-input" type="file" id="attachments" name="attachments" multiple>
                    <div id="file-list"></div>
                </div>
            </fieldset>

            <p class="text-right">
                <button type="button" class="usa-button usa-button--outline" onclick="previousStep()">Back</button>
                <button type="button" class="usa-button" onclick="nextStep()">Continue</button>  
            </p>
          </div> -->
      
          <!-- Step 6 -->
          <div class="step" data-step-title="Review">
            <div id="downloadSection">
                <p>Preview the filled-out form below. To make edits, please use the back button below.</p>

                <!-- This iframe content only loads in the cloud and not locally because it's a relative path -->
                <iframe data-dynamic-src="{{ '/assets/documents/ICR-Template_A11-Section-280-Clearance-v5-13-24.docx' | url }}" width="100%" height="600"></iframe>

                <p>Once you are satisfied with your ICR form, do the following:</p>

                <ol class="pra-clearance-instructions">
                    <li>
                        <a class="usa-button" id="downloadLink" href="#" download="ICR-Template-Completed.docx">Click here to download the ICR Form Template</a>
                    </li>
                    <li>
                        <a class="usa-button" id="mailtoLink" onclick="sendEmail()" href="#">Click here to send an email to OMB's CX PRA Desk Officer</a>. 
                    </li>
                    <li>
                        Before sending the email to OMB's CX PRA Desk Officer, make sure you attach your downloaded ICR Form, along with all instruments, instructions, scripts and any other supporting documents associated with this ICR. 
                    </li>
                </ol>

                <p>Once your message is sent, OMB’s CX PRA Desk Officer will review your submission within 3-5 business days and let you know if you need to make any edits.</p>
            </div>

            <p class="text-right">
                <button type="button" class="usa-button usa-button--outline" onclick="previousStep()">Back</button>
            </p>
          </div>
        </form>
    </section>
    <!-- <div class="usa-modal radius-0 bg-primary-lighter" id="download-template-modal" aria-labelledby="modal-1-heading"
        aria-describedby="modal-1-description">
        <div class="usa-modal__content">
            <div class="usa-modal__main text-center">
                <h4 class="usa-modal__heading font-family-sans" id="modal-1-heading">
                    ICR A-11 Section 280 Clearance Template
                </h4>
                <div class="usa-prose">
                    <div id="modal-1-description">
                        <p>Preview the form below or download if you are ready to fill it out.</p>
                        <p class="margin-bottom-4">
                            <a href="{{ '/assets/documents/ICR-Template_A11-Section-280-Clearance-v5-13-24.docx' | url }}" class="usa-button dynamic-base-url">Download template</a>
                        </p>
                        <iframe data-dynamic-src="{{ '/assets/documents/ICR-Template_A11-Section-280-Clearance-v5-13-24.docx' | url }}" width="100%" height="600"></iframe>
                    </div>
                </div>
            </div>
            <button type="button" class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{ '/assets/uswds/img/sprite.svg#close' | url }}"></use>
                </svg>
            </button>
        </div>
    </div> -->
    {{ content }}
</div>
{% capture icrFormWizardJs %}
{% include "_includes/theme/js/icr-form-wizard.js" %}
{% endcapture %}

{% capture modalFixJs %}
{% include "_includes/theme/js/modalFix.js" %}
{% endcapture %}

{% capture baseUrl %}
{% include "_includes/theme/js/base-url.js" %}
{% endcapture %}

<script>
    // ICR Form Wizard
    {{ icrFormWizardJs | jsmin }}

    // Modal Fix
    //{{ modalFixJs | jsmin }}

    // Base URL
    //{{ baseUrl | jsmin }}
</script>