---
layout: layouts/page
---

<div class="get-started-wrapper static-content">
    <h1 class="margin-top-0">
        <img src="{{ '/assets/images/new-to-pra-icon-small.webp' | url }}" alt="" width="75" height="75" />
        <span>Getting started</span>       
    </h1>
    <section class="usa-section introduction-to-pra-section border-section">
        <h2 id="introduction-to-pra">Introduction to PRA</h2>
        <div class="usa-accordion usa-accordion--multiselectable" data-allow-multiple>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false"
                    aria-controls="what-is-pra">
                    What is the Paperwork Reduction Act (PRA)?
                </button>
            </h3>
            <div id="what-is-pra" class="usa-accordion__content usa-prose">
                <h4>PRA is a law that governs how federal agencies collect information from the American public.</h4>
                <p>
                    True to its name, the <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://www.congress.gov/104/plaws/publ13/PLAW-104publ13.pdf">Paperwork Reduction Act of 1995</a> is intended to reduce the amount of government paperwork the public must fill out. It ensures that when the government collects information from the public, it's for a good reason and that employees are not asking for anything unnecessary, thus causing undue burden. 
                </p>
                <h4>Goals of the PRA include:</h4>
                <ul class="usa-list">
                    <li><span class="text-bold">Reducing public burden:</span> It prevents the federal government from collecting redundant information or information that they don't actually need to provide a service.</li>
                    <li><span class="text-bold">Better use of data:</span> It makes sure that the information the federal government collects is used effectively to make informed policy decisions and improve government services.</li>
                    <li><span class="text-bold">Giving the public a voice:</span> It gives the public a chance to weigh in on how the government is collecting information.</li>
                </ul>
                <p class="margin-top-05 margin-bottom-4"><a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://pra.digital.gov/">For more general PRA information, please visit pra.digital.gov.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false"
                    aria-controls="determine-if-pra-is-needed">
                    What determines whether my UX/CX research needs PRA clearance?
                </button>
            </h3>
            <div id="determine-if-pra-is-needed" class="usa-accordion__content usa-prose">
                <blockquote>
                    <q>The PRA applies to <span class="text-bold">collections of information using identical questions</span> posed to, or reporting or recordkeeping requirements imposed on, "<strong>ten or more persons.</strong>" For the purpose of counting the number of respondents, agencies should consider the number of respondents within any 12 month period.</q>
                    <p class="author margin-top-05 margin-bottom-0">
                        <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                            href="https://www.ecfr.gov/current/title-5/chapter-III/subchapter-B/part-1320/section-1320.3">5
                            CFR 1320.3(c)</a>
                    </p>
                </blockquote>
                <h4>Thus, WHO you collect information from and HOW you collect that information determines whether your research needs PRA clearance.</h4>

                <h5>WHO you collect information from</h5>
                <p class="margin-top-05">
                    PRA only applies after a certain number of research participants (per 12 month period) is reached and only to those defined as "persons". Thus, WHO you will collect information from is a factor in determining whether you need PRA clearance: 
                </p>
                <ul class="usa-list">
                    <li>
                        <p class="text-bold margin-bottom-05 text-indigo-cool-50">Whether you will have 10 or more participants (over a 12 month period)</p> 
                        <ul class="usa-list">
                            <li>If the information collection is posed to 9 or fewer participants, no matter who they are, PRA does not apply.</li>
                        </ul>                   
                    </li>
                    <li>
                        <p class="text-bold margin-bottom-05 text-indigo-cool-50">Whether participants are federal employees or not</p> 
                        <ul class="usa-list">
                            <li>Federal employees are not included in the definition of "persons", thus PRA does not apply. <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                href="https://www.ecfr.gov/current/title-5/chapter-III/subchapter-B/part-1320/section-1320.3">5 CFR 1320.3(c)</a>
                                <ul class="usa-list">
                                    <li>Contractors are considered federal employees if they are participating in research within the scope of their employment. Otherwise, they are considered "persons" and PRA does apply. <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                                        href="https://www.ecfr.gov/current/title-5/chapter-III/subchapter-B/part-1320/section-1320.3">5 CFR 1320.3(c)</a></li>
                                </ul>                                    
                            </li>
                        </ul>                   
                    </li>
                </ul>
                <h5>HOW you collect information</h5>
                <p class="margin-top-05">If what you are collecting during the course of your UX/CX research does not constitute "information," then PRA does not apply. Some of the <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                    href="https://obamawhitehouse.archives.gov/sites/default/files/omb/inforeg/memos/2014/appendix-data-search-tools-calculators.pdf">exclusions to the definition of "information collection"</a> include: direct observation, general solicitations, public meeting and non-standardized follow up. Thus, HOW you collect information is a factor in determining whether you need PRA clearance:</p>
                    <ul class="usa-list">
                        <li>
                            <p class="text-bold margin-bottom-05 text-indigo-cool-50">Whether your research activities are "standardized" (i.e posing a set of "identical questions") or "non-standardized"</p> 
                            <ul class="usa-list">
                                <li>This refers to a set of identical (word for word) questions that are posed to participants.
                                    <ul class="usa-list">
                                        <li>For example, a screener survey asking for demographic information via an identical set of questions would be considered "standardized".</li>
                                        <li>Asking participants to think aloud while they try to navigate a website prototype would be considered "non-standardized".</li>
                                    </ul>     
                                </li>
                            </ul>                   
                        </li>
                        <li>
                            <p class="text-bold margin-bottom-05 text-indigo-cool-50">Whether your research activities involve "direct observation" or not</p> 
                            <ul class="usa-list">
                                <li>Direct observation involves "visually inspecting" a participant during research.
                                    <ul class="usa-list">
                                        <li>For example, a moderated usability test would involve direct observation, while an unmoderated usability test would not.</li>
                                        <li>Conducting a survey does not involve direct observation.</li>
                                    </ul>                                    
                                </li>
                            </ul>                   
                        </li>
                    </ul>

                <p class="margin-top-05 margin-bottom-4"><a class="usa-link" href="{{ '#find-pra-clearance-need' | url }}">Find out if your UX/CX research activities need PRA clearance.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false"
                    aria-controls="type-of-ux-acitivites-that-needs-pra">
                    What kinds of UX/CX research activities typically need PRA clearance?
                </button>
            </h3>
            <div id="type-of-ux-acitivites-that-needs-pra" class="usa-accordion__content usa-prose">
                <h4>Usability testing does not need PRA clearance.</h4>
                <p>
                    Please review <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://bidenwhitehouse.archives.gov/wp-content/uploads/2024/11/PRA-Usability-Testing-Guidance-Memo.pdf">OIRA's usability testing guidance</a> for more information.
                </p>
                <h4>Many other UX/CX research activities do not need PRA clearance:</h4>
                <ul class="usa-list">
                    <li>User interviews</li>
                    <li>Cognitive walkthrough</li>
                    <li>Contextual inquiry</li>
                    <li>Card sorting</li>
                    <li>A/B or multivariate testing</li>
                    <li>Visual preference testing</li>
                </ul>
                <h4>These UX/CX research activities do need PRA clearance:</h4>
                <ul class="usa-list">
                    <li>Recruiting more than 9 members of the public (i.e. screener surveys)</li>
                    <li>Making updates to materials that have prior or current PRA clearance</li>
                    <li>Translating materials that have prior or current PRA clearance to languages other than English </li>
                </ul>
                <p class="margin-top-05 margin-bottom-4"><a class="usa-link" href="{{ '#find-pra-clearance-need' | url }}">Find out if your UX/CX research activities need PRA clearance.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false"
                    aria-controls="what-is-fast-track-pra-process">
                    What is the Fast Track PRA process?
                </button>
            </h3>
            <div id="what-is-fast-track-pra-process" class="usa-accordion__content usa-prose">
                <h4>The Fast Track (A-11) PRA clearance process is designed for smaller-scale UX/CX research.</h4>
                <p>
                    The <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://pra.digital.gov/clearance-process/">standard PRA clearance process</a> that you may have heard about typically takes 6-9 months...however, there is good news! Researchers can request PRA clearance under generic "umbrella" clearances that are already in place, which allows for a much faster turnaround time. GSA has several types of PRA clearances that are designed specifically for UX/CX research:
                </p>
                <h5>Generic Clearance</h5>
                <p class="text-bold margin-top-05 margin-bottom-05 text-indigo-cool-50">Designed for larger-scale UX/CX surveys that will involve statistical analysis.</p>
                <p class="margin-bottom-05">This clearance covers:</p>
                <ul class="usa-list">
                    <li>Customer satisfaction surveys</li>
                    <li>Website usability surveys</li>
                </ul>
                <h5>Fast Track (A-11)</h5>
                <p class="text-bold margin-top-05 margin-bottom-05 text-indigo-cool-50">Designed for smaller-scale UX/CX research activities.</p>
                <p class="margin-bottom-05">This clearance covers:</p>
                <ul class="usa-list">
                    <li>Discovery research</li>
                    <li>User testing of services and digital products</li>
                    <li>Customer feedback</li>
                </ul>
                <h4>Most UX/CX research activities at TTS can use the Fast Track (A-11) PRA clearance.</h4>
                <p>If you are conducting larger-scale UX/CX surveys that will involve statistical analysis or any other kind of research that may be a better fit for a different type of clearance, please contact <a class="usa-link" href="mailto:tts-research@gsa.gov">tts-research@gsa.gov</a> for guidance on how to proceed.</p>
                <p class="margin-top-05 margin-bottom-4"><a class="usa-link" href="{{ '/get-pra-clearance/' | url }}">Learn more about how to get Fast Track clearance.</a></p>
            </div>
            <h3 class="usa-accordion__heading">
                <button type="button" class="usa-accordion__button" aria-expanded="false"
                    aria-controls="where-can-i-find-more-info">
                    Where can I find additional information?
                </button>
            </h3>
            <div id="where-can-i-find-more-info" class="usa-accordion__content usa-prose">
                <p>
                    The OMB CX Desk oversees the Fast Track PRA clearance process. For more information, please consult the <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://community-dc.max.gov/display/Performance/List+of+Departments+with+A-11+Umbrella+Clearance+for+CX+Research">Customer Experience Collection Central</a> on MAX.gov (requires login with PIV card).
                </p>
            </div>

        </div>
    </section>
    <section class="usa-section overview-of-research-section border-section">
        <h2 class="site-preview-heading" id="overview-of-pra-considerations-for-ux-research">Overview of PRA considerations for UX/CX research</h2>
        <ol class="usa-process-list">
            <li class="usa-process-list__item">
                <h3 id="create-research-plan" class="usa-process-list__heading">Create your research plan</h3>
                <p class="margin-top-05">
                    First, you need to plan your user research! Consider your goals and whether the research will be generative (defining direction or shape of a product) or evaluative (defining improvements and opportunities). To get started, 18F offers some useful guidance for <a class="usa-link usa-link--external" rel="noreferrer" target="_blank"
                        href="https://guides.18f.gov/ux-guide/resources/research-plan/">planning your
                        research</a>.
                </p>  
                <p><span class="text-bold">Recruit participants.</span> If you already have participants, you can skip this step. Decide who your participants will be and how you will recruit them.</p>
                <p><a class="usa-link" href="{{ '/find-out-if-you-need-pra/#pra-for-recruitment' | url }}">Learn more about PRA implications for recruitment.</a></p>
                <p><span class="text-bold">Decide on research method(s).</span> 18F offers guidance on <a class="usa-link usa-link--external" rel="noreferrer" target="_blank" href="https://guides.18f.gov/methods/">how and when to use specific research methods</a>. In general, qualitative user research methods that involve direct observation and non-standardized conversations will likely NOT require PRA clearance.</p>
                <p><a class="usa-link" href="{{ '/find-out-if-you-need-pra/#pra-for-research' | url }}">Learn more about PRA implications for research.</a></p>
            </li>
            <li class="usa-process-list__item">
                <h3 id="find-pra-clearance-need" class="usa-process-list__heading">Determine if you need PRA clearance</h3>
                <p class="margin-top-05">Depending on the nature of your research activities, you may need PRA clearance. The need for PRA clearance is determined by several factors, including:</p>
                <p><span class="text-bold">Who you will collect information from:</span> whether you will have 10 or more participants (per instance of research, over a 12 month period) and whether participants are considered members of the public or not.</p>
                <p><span class="text-bold">How you will collect that information:</span> whether your research activities are "standardized" (i.e posing a set of "identical questions") and whether your research activities involve "direct observation" (i.e. "visual inspection" of participant activities).</p>
                <p><a class="usa-link" href="{{ '/find-out-if-you-need-pra/#take-a-quiz' | url }}">Determine if you need PRA clearance for recruitment, research, or both - or connect with someone who can help you. </a></p>
            </li>
            <li class="usa-process-list__item">
                <h3 id="get-pra-clearance" class="usa-process-list__heading">Get PRA clearance (if needed)</h3>
                <p class="margin-top-05">
                    If you do need to get PRA clearance, never fear! Qualitative user research activities at TTS will be able to go through the Fast-Track process (also known as A-11 Section 280), which generally takes 7-14 business days.
                </p>
                <p class="text-bold">Process overview</p>
                <ol class="usa-list margin-top-05">
                    <li><span class="text-bold">Documentation.</span> Complete "Generic A-11 Information Collection Review (ICR)" template for your project and attach all instruments. All documentation must be complete before proceeding.</li>
                    <li><span class="text-bold">Pre-review.</span> OMB CX Team offers pre-review of the completed Generic Information Collection (Gen IC) package to minimize rejection later: you can send the completed documentation to the OMB CX Team to receive feedback (cc'ing GSA PRA Desk for awareness).</li>
                    <li><span class="text-bold">Submission.</span> Submit finalized documentation to GSA PRA Desk for review.</li>
                    <li><span class="text-bold">Review.</span> OMB CX Team receives Gen IC package, reviews it, and notifies you of decision.</li>
                    <li><span class="text-bold">Approval.</span> If approved, you are free to proceed with research. If denied, you must repeat the process.</li>
                </ol>
                <p><a class="usa-link" href="{{ '/get-pra-clearance/' | url }}">Find out how to get Fast Track PRA clearance.</a>
                </p>
            </li>
            <li class="usa-process-list__item">
                <h3 id="get-pra-clearance" class="usa-process-list__heading">Do research!</h3>
                <p class="margin-top-05">Once you get PRA clearance, you are free to proceed with your research. Thank you for what you do to improve government digital services, and happy connecting with the public!</p>
            </li>
        </ol>
    </section>

    {{ content }}
</div>